<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light text-center d-none d-sm-block">
    <a class="navbar-brand" routerLink="/index"><img src="assets/img/logo-login.png"></a>
  </nav>
  <div class="content-sucesso">
    <div class="row">
      <div class="col-lg-5">
        <div class="infos-left">
          <h4>Tudo certo!</h4>

          <div class="card-sucesso">
            <div class="icon">
              <img src="assets/img/icons/check-sucesso.svg">
            </div>
            <div class="textos">
              <h5>Agendamento realizado</h5>
              <p>Número: #021457</p>
            </div>
          </div>

          <div class="card-email">
            <p>Detalhes do agendamento enviado para:</p>
            <p>vando_gouveia@hotmail.com</p>
          </div>

          <div class="links">
            <a routerLink="/index">AGENDAR MAIS</a>
            <a routerLink="#">ver agendamentos</a>
          </div>
        </div><!-- /infos-left -->

      </div><!-- /col-lg-5 -->

      <div class="col-lg-7">
        <h4>:) Estamos te esperando</h4>

        <div class="mapa">
         <div id='map'></div>
        </div>

      </div><!-- /col-lg-7 -->

    </div><!-- /row -->

  </div><!-- /content-sucesso -->
</div><!-- /container -->
<div class="box-btns-mobile">
  <a class="home-m" routerLink="/index" routerLinkActive="active-m"></a>

  <a class="agenda-m" routerLink="/agendamento" routerLinkActive="active-m"></a>

  <a class="ajuda-m" routerLink="/agendamento" routerLinkActive="active-m"></a>

  <a class="perfil-m" routerLink="/agendamento" routerLinkActive="active-m"></a>
</div>