
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="space"></div>
    <a class="navbar-brand" routerLink="/index"><img src="assets/img/logo-login.png" alt="logo" title="logo"></a>
    
    <button class="navbar-toggler" type="button" (click)="executarViaService()">
      <img src="assets/img/icons/menu.svg" alt="icone">
    </button>

    <div class="form-search">
      <button class="btn btn-open-search" (click)="openModal()">
        <img src="assets/img/icons/lupa.svg" alt="lupa">
      </button>

      <div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
        aria-labelledby="dialog-sizes-name1">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-body">
              <div class="input-group">
                <img src="assets/img/icons/lupa-search.svg" class="img-lupa" alt="lupa-busca">

                <input #busca type="text" class="form-control input-search"
                  placeholder="Nome do serviço que você precisa" (keyup.enter)="searchServicos($event)"
                  (blur)="searchServicos($event)">

                <div class="input-group-append">
                  <button class="btn-search" type="button">buscar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown" dropdown (isOpenChange)="onOpenChange($event)">
          <a class="nav-link dropdown-toggle" dropdownToggle routerLink="#" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="assets/img/icons/menu.svg" alt="menu">
          </a>
          <div class="dropdown-menu dropdown-x" *dropdownMenu>

            <div class="mega-menu">
              <ul>
                <li class="menu-item menu-1">
                  <a routerLink="#">Unhas</a>
                  <div class="mega-submenu">
                    <ul class="nav flex-column">
                      <li class="nav-item">
                        <a class="nav-link" routerLink="#">Mão</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" routerLink="#">Pé</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" routerLink="#">Mão e pé</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" routerLink="#">Francesinha</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" routerLink="#">Desenhos</a>
                      </li>

                    </ul>
                  </div>
                </li>
                <li class="menu-item menu-2">
                  <a routerLink="#">Cabelos</a>
                  <div class="mega-submenu">
                    <ul class="nav flex-column">
                      <li class="nav-item">
                        <a class="nav-link" routerLink="#">Cabelo-1</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" routerLink="#">Cabelo-2</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" routerLink="#">Cabelo-3</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="menu-item menu-3">
                  <a routerLink="#">Barba</a>
                  <div class="mega-submenu">
                    <ul class="nav flex-column">
                      <li class="nav-item">
                        <a class="nav-link" routerLink="#">Barba-1</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" routerLink="#">Barba-2</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" routerLink="#">Barba-3</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="menu-item menu-2">
                  <a routerLink="#">Maquiagem</a>
                  <div class="mega-submenu">
                    <ul class="nav flex-column">
                      <li class="nav-item">
                        <a class="nav-link" routerLink="#">Maquiagem-1</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" routerLink="#">Maquiagem-2</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" routerLink="#">Maquiagem-3</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="menu-item menu-2">
                  <a routerLink="#">Cabelos</a>
                  <div class="mega-submenu">
                    <ul class="nav flex-column">
                      <li class="nav-item">
                        <a class="nav-link" routerLink="#">Cabelo-1</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" routerLink="#">Cabelo-2</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" routerLink="#">Cabelo-3</a>
                      </li>
                    </ul>
                  </div>
                </li>

                <li class="menu-item menu-2">
                  <a routerLink="#">Depilação</a>
                  <div class="mega-submenu">
                    <ul class="nav flex-column">
                      <li class="nav-item">
                        <a class="nav-link" routerLink="#">Depilação-1</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" routerLink="#">Depilação-2</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" routerLink="#">Depilação-3</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="menu-item menu-2">
                  <a routerLink="#">Penteados</a>
                  <div class="mega-submenu">
                    <ul class="nav flex-column">
                      <li class="nav-item">
                        <a class="nav-link" routerLink="#">Penteados-1</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" routerLink="#">Penteados-2</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" routerLink="#">Penteados-3</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="menu-item menu-2">
                  <a routerLink="#">Rosto</a>
                  <div class="mega-submenu">
                    <ul class="nav flex-column">
                      <li class="nav-item">
                        <a class="nav-link" routerLink="#">Rosto-1</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" routerLink="#">Rosto-2</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" routerLink="#">Rosto-3</a>
                      </li>
                    </ul>
                  </div>
                </li>

              </ul>
            </div>

          </div>
        </li>

        <li class="nav-item dropdown" dropdown (isOpenChange)="onOpenChange($event)">
          <a class="nav-link dropdown-toggle" dropdownToggle routerLink="#" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Unhas
          </a>
          <div class="dropdown-menu dropdown-w" *dropdownMenu>
            <p>Unhas</p>

            <ul class="nav nav-submenu flex-column">
              <li>
                <a class="dropdown-item" href="#">Mão</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Pé</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Mão e Pé</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Francesinha</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Desenhos</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Lavagem</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Pintura</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Base</a>
              </li>
            </ul>
          </div>
        </li>

        <li class="nav-item dropdown" dropdown (isOpenChange)="onOpenChange($event)">
          <a class="nav-link dropdown-toggle" dropdownToggle routerLink="#" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Cabelos
          </a>
          <div class="dropdown-menu dropdown-w" *dropdownMenu>
            <p>Cabelos</p>

            <ul class="nav nav-submenu flex-column">
              <li>
                <a class="dropdown-item" href="#">Ombre hair</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Corte estilizado masculino</a>
              </li>
            </ul>
          </div>
        </li>

        <li class="nav-item dropdown" dropdown (isOpenChange)="onOpenChange($event)">
          <a class="nav-link dropdown-toggle" dropdownToggle routerLink="#" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Barba
          </a>
          <div class="dropdown-menu dropdown-w" *dropdownMenu>
            <p>Barba</p>

            <ul class="nav nav-submenu flex-column">
              <li>
                <a class="dropdown-item" href="#">Item 1</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Item 2</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Item 3</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Item 4</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Item 5</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Item 6</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Item 7</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Item 8</a>
              </li>
            </ul>
          </div>
        </li>

        <li class="nav-item dropdown" dropdown (isOpenChange)="onOpenChange($event)">
          <a class="nav-link dropdown-toggle" dropdownToggle routerLink="#" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Maquiagem
          </a>
          <div class="dropdown-menu dropdown-w" *dropdownMenu>
            <p>Maquiagem</p>

            <ul class="nav nav-submenu flex-column">
              <li>
                <a class="dropdown-item" href="#">Item 1</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Item 2</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Item 3</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Item 4</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Item 5</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Item 6</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Item 7</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Item 8</a>
              </li>
            </ul>
          </div>
        </li>

        <li class="nav-item dropdown" dropdown (isOpenChange)="onOpenChange($event)">
          <a class="nav-link dropdown-toggle" dropdownToggle routerLink="#" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Depilação
          </a>
          <div class="dropdown-menu dropdown-w" *dropdownMenu>
            <p>Depilação</p>

            <ul class="nav nav-submenu flex-column">
              <li>
                <a class="dropdown-item" href="#">Item 1</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Item 2</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Item 3</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Item 4</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Item 5</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Item 6</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Item 7</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Item 8</a>
              </li>
            </ul>
          </div>
        </li>

        <li class="nav-item dropdown" dropdown (isOpenChange)="onOpenChange($event)">
          <a class="nav-link dropdown-toggle" dropdownToggle routerLink="#" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Penteados
          </a>
          <div class="dropdown-menu dropdown-w" *dropdownMenu>
            <p>Penteados</p>

            <ul class="nav nav-submenu flex-column">
              <li>
                <a class="dropdown-item" href="#">Item 1</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Item 2</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Item 3</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Item 4</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Item 5</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Item 6</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Item 7</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Item 8</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>

      <div class="dropdown-user my-2">
        <div class="btn-group" dropdown (isOpenChange)="onOpenChange($event)">
          <div id="user" dropdownToggle type="button" class="dropdown-toggle">
            <img src="assets/img/icons/user.svg" alt="icone-usuario">
            
            <div *ngIf="(usuario$ | async)"  class="logged">
              
              <p>Bem-vindo (a)</p>
              <p> 
                {{ (usuario$ | async)?.nome }} 
                {{ ((usuario$ | async)?.sobrenome.length > 6) ? 
                    ((usuario$ | async)?.sobrenome | slice:0:6) + '...' : 
                    (usuario$ | async)?.sobrenome }} 
              </p>
            </div>
            
            <div *ngIf="!(usuario$ | async)" class="no-logged">
              <p>Bem-vindo (a)</p>
              <p> 
                Visitante
              </p>
            </div>
          </div>
          <div class="dropdown-menu dropdown-y" [ngClass]="{'logged': (usuario$ | async)}"
              *dropdownMenu aria-labelledby="user" ngClass>
            <div class="header-user">
              <img src="assets/img/icons/user-dropdown.svg" alt="icone">
              <p>Conta</p>
            </div>
            
            <ul *ngIf="!(usuario$ | async)" 
                class="nav nav-submenu flex-column user-no-logged">
              <li>
                <a class="dropdown-item" routerLink="/login">Entrar</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/registro">Cadastro</a>
              </li>
            </ul>
           
            <ul *ngIf="(usuario$ | async); else loading" class="nav nav-submenu flex-column user-logged">
              <li>
                <a class="dropdown-item" routerLink="/agendamento">Agendamentos</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="#" (click)="logout()">
                  <span>Sair</span>
                </a>
              </li>
            </ul>

          </div>
        </div>
      </div>

    </div>
    <div class="header-fixed-mobile" [ngClass]="(scrollPosition > 100) ? 'fixed-top' : ''">
      <!-- INPUT SEARCH MOBILE -->
      <div class="input-group input-group-mobile">
        <img data-src="assets/img/icons/lupa-mobile.svg" alt="lupa-mobile">
        <input #buscamobile type="text" class="form-control input-search" placeholder="Nome do serviço que você precisa"
          (click)="onOpenChange($event)" (keyup.enter)="searchServicos($event)" (blur)="busca.value = ''">
      </div>
      <!-- /FIM INPUT SEARCH MOBILE -->

      <!-- INICIO MENU MOBILE -->
      <div class="menu-mobile">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a routerLink="/index" routerLinkActive="active" class="nav-link">
              Todos
            </a>
          </li>

          <li class="nav-item">
            <a routerLink="/index" class="nav-link">
              Unhas
            </a>
          </li>

          <li class="nav-item">
            <a routerLink="/index" class="nav-link">
              Cabelos
            </a>
          </li>

          <li class="nav-item">
            <a routerLink="/index" class="nav-link">
              Barba
            </a>
          </li>

          <li class="nav-item">
            <a routerLink="/index" class="nav-link">
              Maquiagem
            </a>
          </li>

          <li class="nav-item">
            <a routerLink="/index" class="nav-link">
              Depilação
            </a>
          </li>

          <li class="nav-item">
            <a routerLink="/index" class="nav-link">
              Penteados
            </a>
          </li>

        </ul>

      </div>
      <!-- /FIM MENU MOBILE -->
    </div><!-- /header-fixed-mobile -->
  </nav>