<div class="container-fluid">
  <div class="row">

    <div class="bg-footer">
      <div class="container">
        <div class="newsletter">
          <h2>Assine nossa newsletter e receba novidades e descontos</h2>

          <form class="form-newsletter">
            <div class="form-row align-items-center justify-content-center">
              <div class="col-sm-3 my-1">
                <input type="text" class="form-control" id="inlineFormInputName" placeholder="seu nome">
              </div>
              <div class="col-sm-4 my-1">
                <input type="text" class="form-control ml-1" id="inlineFormInputGroupUsername" placeholder="seu e-mail">
              </div>

              <div class="col-auto my-1">
                <button type="submit" class="btn btn-default ml-3">enviar</button>
              </div>

            </div>
          </form>
        </div>

        <div class="footer-links">
          <div class="row">
            <div class="col-lg-3">
              <h5>ACEITAMOS</h5>
              <ul class="nav nav-bandeiras">
                <li class="nav-item"><img src="assets/img/icons/bandeiras/visa.svg"></li>
                <li class="nav-item"><img src="assets/img/icons/bandeiras/mastercard.svg"></li>
                <li class="nav-item"><img src="assets/img/icons/bandeiras/hipercard.svg"></li>
                <li class="nav-item"><img src="assets/img/icons/bandeiras/elo.png"></li>
                <li class="nav-item"><img src="assets/img/icons/bandeiras/diners-club.svg"></li>
                <li class="nav-item"><img src="assets/img/icons/bandeiras/american-express.svg"></li>
                <li class="nav-item"><img src="assets/img/icons/bandeiras/paypal.svg"></li>
                <li class="nav-item"><img src="assets/img/icons/bandeiras/ame.png"></li>
                <li class="nav-item"><img src="assets/img/icons/bandeiras/picpay.png"></li>
                <li class="nav-item"><img src="assets/img/icons/bandeiras/apple-pay.png"></li>
              </ul>
            </div>
            <div class="col-lg-3">
              <h5>SOBRE NÓS</h5>
              <ul class="nav flex-column">
                <li class="nav-item"><a href="#">Quem somos</a></li>
                <li class="nav-item"><a href="#">Termos de uso</a></li>
                <li class="nav-item"><a href="#">Políticas de privacidade</a></li>
              </ul>
            </div>
            <div class="col-lg-3">
              <h5>FACILIDADES</h5>
              <ul class="nav flex-column">
                <li class="nav-item"><a href="#">Agendamentos</a></li>
                <li class="nav-item"><a href="#">Sua conta</a></li>
              </ul>
            </div>
            <div class="col-lg-3">
              <h5>SOCIAL</h5>
              <ul class="nav">
                <li class="nav-item"><a href="#"><img src="assets/img/icons/facebook-footer.svg"></a></li>
                <li class="nav-item ml-3"><a href="#"><img src="assets/img/icons/instagram-footer.svg"></a></li>
                <li class="nav-item ml-3"><a href="#"><img src="assets/img/icons/youtube-footer.svg"></a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="footer-copright">
          <p>Copyright ©2020 - Torres barbearia</p>
        </div>

        <div class="footer-logo">
          <img src="assets/img/logo.png">
        </div>

      </div><!-- /container -->
    </div><!-- /bg-footer -->

  </div><!-- /row -->
</div><!-- /container-fluid -->