<div class="container-fluid">
  <div class="row">

    <div class="bg-footer">
      <div class="container">
        <div class="newsletter">
          <h2>Assine nossa newsletter e receba novidades e descontos</h2>

          <form>
            <div class="form-row align-items-center justify-content-center">
              <div class="col-sm-3 my-1">
                <input type="text" class="form-control" id="inlineFormInputName" placeholder="seu nome">
              </div>
              <div class="col-sm-6 my-1">
                <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="seu e-mail">
              </div>
            
              <div class="col-auto my-1">
                <button type="submit" class="btn btn-primary">Enviar</button>
              </div>
            </div>
          </form>
        </div>

      </div><!-- /container -->
    </div><!-- /bg-footer -->

  </div><!-- /row -->
</div><!-- /container-fluid -->