<div class="limiter ">
  <div class="container-login100">
    <div class="wrap-login100">
      
      <form [formGroup]="updateUserForm" class="login100-form validate-form" (ngSubmit)="updateUsuario()">

        <span class="loading" *ngIf="loading"></span>

        <div class="wrap-input100 validate-input">
          <input class="input100" type="text" name="nome" formControlName="nome" placeholder="Seu nome por favor">     
        </div>

        <div class="wrap-input100 validate-input">
          <input class="input100" type="text" name="sobrenome" formControlName="sobrenome" placeholder="Seu sobrenome por gentileza">
        </div>

        <div class="wrap-input100 validate-input">
          <input class="input100" type="text" name="telefone" formControlName="telefone" placeholder="Celular" mask="(00) 00000-0000">
        </div>

        <div class="wrap-input100 validate-input">
          <input class="input100" type="email" name="email" formControlName="email" placeholder="Informe um e-mail para acesso">
          <img src="assets/img/icons/email.svg">
        
        </div>

        <div class="container-login100-form-btn">
          <button type="submit" class="login100-form-btn">
            Salvar
          </button>

          <span *ngIf="msgErro" class="msg-erro">{{msgErro}}</span>
        </div>
      </form>
      
    </div>
  </div>
</div>
