<div class="limiter ">
  <span class="loading" *ngIf="!(usuario$ | async) || loading"></span>
  <div class="container-profile" *ngIf="(usuario$ | async)" [ngClass]="{'opacity-min' : loading}">
    <div class="wrap-profile">
      <div class="header-profile">
        <a routerLink="/perfil">
          <img src="assets/img/icons/voltar-black.svg">
        </a>
        <p>Perfil</p>
      </div>

      <form [formGroup]="updateUserForm" class="profile-form validate-form" (ngSubmit)="updateUsuario()">

        <div class="wrap-input100 validate-input avatar" (click)="fileUploader.click()">
          <img class="img-upload" [src]="imagemSrc" width="200px" height="200px">
          <input type="file" #fileUploader accept="image/*" class="form-control" id="avatar"
            aria-describedby="nome" placeholder="imagem" (change)="showPreviewImagem($event)" hidden>

          <div class="box-icon-picture">
            <img src="assets/img/icons/camera.svg">
            <p>editar foto</p>
          </div>
        </div>

        <div class="wrap-input100 validate-input">
          <input class="input100" type="text" name="nome" formControlName="nome" placeholder="Seu nome por favor">
        </div>

        <div class="wrap-input100 validate-input">
          <input class="input100" type="text" name="sobrenome" formControlName="sobrenome"
            placeholder="Seu sobrenome por gentileza">
        </div>

        <div class="wrap-input100 validate-input">
          <input class="input100" type="email" name="email" formControlName="email"
            placeholder="Informe um e-mail para acesso">
        </div>

        <div class="wrap-input100 validate-input">
          <input class="input100" type="text" name="telefone" formControlName="telefone" placeholder="Seu telefone/whatsapp"
            mask="(00) 00000-0000">
        </div>

        <div class="container-profile-form-btn">
          <button type="submit" class="profile-form-btn">
            salvar
          </button>

          <span *ngIf="msgErro" class="msg-erro">{{msgErro}}</span>
        </div>
      </form>

    </div>
  </div>
</div>