.msg-erro {
    color: rgb(228, 54, 54);
    background-color: rgb(252, 216, 216);
    width: 100%;
    margin-bottom: 15px;
    padding: 4px 10px 6px;
    border-radius: 5px;
    position: relative;
    display: block;
    text-align: center;
    font-size: 15px;
  }
  
  .flex-sb-m {
    display: flex;
    justify-content: space-between;
  }
  
  .orange-full {
    color: #e9724c !important;
  }
  
  
  /*//////////////////////////////////////////////////////////////////
  [ login ]*/
  
  .limiter {
    width: 100%;
    margin: 0 auto;
  }
  
  .container-profile {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: #fff;
  }
  
  .wrap-profile {
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row-reverse;
    z-index: 2;
  }

  .header-profile{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px 15px;
  }
  .header-profile img{
    width: 22px;
    margin-right: 20px;
  }
  .header-profile p{
    font-size: 20px;
    color: #484b4a;
    margin: 0;
  }
  
  
  /*==================================================================
  [ Form ]*/

  .wrap-input100.avatar{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 45px;
    position: relative;
  }
  .wrap-input100.avatar:before{
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background: #e9724c;
    opacity: 0.5;
    position: absolute;
  }

  .wrap-input100.avatar img{
    width: 100%;
    height: 100%;
  }

  .box-icon-picture{
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    text-align: center;
  }

  .wrap-input100.avatar .box-icon-picture img{
    width: 45px;
  }

  .wrap-input100.avatar .box-icon-picture p{
    font-size: 14px;
    color: #ffffff;
    margin: 10px 0 0 0;
  }
  
  .profile-form {
    width: 475px;
    min-height: 100vh;
    display: block;
    margin: 0 auto;
    padding: 30px 55px 55px 55px;
    position: relative;
  }

  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 18px;
    color: #9e9e9e;
  }
  
  ::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 18px;
    color: #9e9e9e;
  }
  
  :-ms-input-placeholder {
    /* IE 10+ */
    font-size: 18px;
    color: #9e9e9e;
  }
  
  :-moz-placeholder {
    /* Firefox 18- */
    font-size: 18px;
    color: #9e9e9e;
  }
  
  
  /*------------------------------------------------------------------
  [ Input ]*/
  
  .label-input100 {
    font-family: Montserrat-Regular;
    font-size: 18px;
    color: #999999;
    line-height: 1.2;
    display: block;
    position: absolute;
    pointer-events: none;
    width: 100%;
    padding-left: 24px;
  }
  
  .input100 {
    display: block;
    width: 100%;
    height: 48px;
    background: transparent;
    font-size: 18px;
    color: #636464;
    line-height: 1.2;
    padding: 10px 26px 10px 40px;
    margin-bottom: 15px;
    border: 1px solid #9e9e9e;
    background-color: #fff;
    border-radius: 5px;
  }
  
  .input100:focus {
    border: 1px solid #e9724c;
    box-shadow: none;
    outline: none;
  }
  
  .input100:focus+.focus-input100+.label-input100 {
    top: 14px;
    font-size: 13px;
  }
  
  
  /*------------------------------------------------------------------
  [ Button ]*/
  
  .container-profile-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    position: relative;
  }
  
  .profile-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background: #e9724c;
    border: none;
    outline: none;
    margin-bottom: 0px;
    margin-top: 10px;
    font-weight: 200;
    font-size: 20px;
    color: #efe7e2;
    line-height: 1.2;
    letter-spacing: 0.4px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .profile-form-btn:hover {
    background: #c55f3d;
  }

  
  
  /*------------------------------------------------------------------
  [ Responsive ]*/
  
  @media (max-width: 992px) {
    .profile-form {
        width: 50%;
        padding-left: 30px;
        padding-right: 30px;
    }

  }
  
  @media (max-width: 768px) {
    .profile-form {
        width: 100%;
    }
  }
  
  @media (max-width: 576px) {
    .profile-form {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 10px;
    }
  }