<!-- Page Content -->
<div id="page-content-wrapper">
  <app-nav></app-nav>
  <div class="container-fluid">
    <div class="col-lg-12">
      <div *ngIf="msg !== false" class="alert alert-success mt-2" role="alert">
        Serviço cadastrado com sucesso!
      </div>
    </div>

    <form #f="ngForm" [formGroup]="cadastroservicoForm">
      <div class="col-lg-12 form-data-user">
        <h5 class="mb-0">Cadastrar novo serviço</h5>
        <hr class="mt-2">
        <div class="form-row mt-3">
          <div class="col col-xl-2">
            <img class="img-upload" [src]="imagemUmSrc" width="200px" height="200px" (click)="fileUploaderUm.click()">
            <input type="file" #fileUploaderUm accept="image/*" class="form-control"
              id="imagem1" aria-describedby="nome" placeholder="imagem" (change)="showPreviewImagemUm($event)" hidden>
          </div>
          <div class="col col-xl-2">
            <img class="img-upload" [src]="imagemDoisSrc" width="200px" height="200px" (click)="fileUploaderTwo.click()">
            <input type="file" #fileUploaderTwo accept="image/*" class="form-control"
              id="imagem2" aria-describedby="nome" placeholder="imagem" (change)="showPreviewImagemDois($event)" hidden>
          </div>
          <div class="col col-xl-2">
            <img class="img-upload" [src]="imagemTresSrc" width="200px" height="200px" (click)="fileUploaderThree.click()">
            <input type="file" #fileUploaderThree accept="image/*" class="form-control"
              id="imagem3" aria-describedby="nome" placeholder="imagem" (change)="showPreviewImagemTres($event)" hidden>
          </div>
          <div class="col col-xl-2">
            <img class="img-upload" [src]="imagemQuatroSrc" width="200px" height="200px" (click)="fileUploaderFour.click()">
            <input type="file" #fileUploaderFour accept="image/*" class="form-control"
              id="imagem4" aria-describedby="nome" placeholder="imagem" (change)="showPreviewImagemQuatro($event)" hidden>
              <button (click)="removeImg()">Remover</button>
          </div>

          <div class="col col-xl-4">
            <div class="form-group">
              <input type="text" formControlName='nomeservico' class="form-control" id="nome-servico"
                aria-describedby="nome" placeholder="Nome do serviço">
            </div>
            <div class="form-group">
              <input type="text" formControlName='valorservico' class="form-control" id="valor-servico"
                placeholder="Valor R$" mask="separator.2" thousandSeparator=".">
            </div>

            <button type="submit" class="btn btn-cadastrar-servico mt-5 w-100" (click)="onSubmit()"
              [class.btn-carregando]="textbtn === 'Carregando...'"
              [disabled]="!cadastroservicoForm.valid">{{textbtn}}</button>
          </div>

        </div>

      </div>
    </form><br>

    <div class="col-lg-12">
      <div class="card bg-light card-servicos" style="width:100%;">
        <div class="card-header">
          <h5 class="text-center title-servicos mb-0">Serviços</h5>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col" colspan="4">Imagens</th>
                <th scope="col">Nome do serviço</th>
                <th scope="col">Valor</th>
                <th scope="col">Editar</th>
                <th scope="col">Excluir</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let s of servicos$ | async">
                <th scope="row"><img src="{{s.imagem1}}"></th>
                <th scope="row"><img src="{{s.imagem2}}"></th>
                <th scope="row"><img src="{{s.imagem3}}"></th>
                <th scope="row"><img *ngIf="s.imagem4" src="{{s.imagem4}}"></th>
                <td>{{s.nomeservico}}</td>
                <td>
                  <p class="m-0" [hidden]="s.valorservico == 0">{{s.valorservico | currency:'BRL':true}}</p>
                  <p *ngIf="s.valorservico == 0" class="m-0">Sob Consulta</p>
                </td>
                <td>
                  <button (click)="edit(s)" class="btn-editar-servico"><i class="material-icons">create</i></button>
                </td>
                <td>
                  <button (click)="delete(s)" class="btn-excluir-servico"><i class="material-icons">delete</i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!--/table-->
      </div>
    </div>
  </div><br>
  <!--/container-fluid-->
  <!-- /#page-content-wrapper -->