<!-- Page Content -->
<div id="page-content-wrapper">
  <app-nav></app-nav>
  <div class="container-fluid">
    <div class="col-lg-12">
      <ul class="list-group list-group-horizontal-lg">
        <li class="list-group-item text-center list-card-hoje mr-4 mt-4" style="width: 30%">
          <h5 class="title-card">Agendamentos para hoje</h5>
          <h1 class="mt-4 pt-1">{{totalAgendamentoDia}}</h1>
        </li>
        <li class="list-group-item text-center list-card-mes mr-4 mt-4" style="width: 30%">
          <h5 class="title-card">Agendamentos deste mês</h5>
          <h1 class="mt-4 pt-1">{{totalAgendamentoMes}}</h1>
        </li>
        <li class="list-group-item text-center list-card-cat mt-4" style="width: 40%">
          <h5 class="title-card">Agendamentos por categoria</h5>
          <google-chart #chart [title]="title" [type]="type" [data]="data" [columnNames]="columnNames"
            [options]="options" [width]="width" [height]="height">
          </google-chart>
        </li>
      </ul>
    </div>
    <div class="col-lg-12">
      <div class="d-flex mt-4">
        <div class="card bg-light card-hoje" style="width:50%;">
          <div class="card-header header-hoje">
            <h5 class="text-center title-agendamentos mb-0">Agendamentos para hoje</h5>
          </div>
          <div class="card-body">
            <ng-container *ngFor="let a of agendamento$ | async ">
              <div class="card card-agendamentos-hoje mb-3" [hidden]="(a.data.toDate() | date) != (dataAtual | date)">
                <div class="row no-gutters">
                  <div class="col-md-3 text-center">
                    <h4 class="mt-3">{{a.horario}}</h4>
                    <h6>{{a.data.toDate() | date: 'dd/MM/yyyy'}}</h6>
                  </div>
                  <div class="col-md-9 pl-2">
                    <div class="card-body p-2">
                      <p class="m-0"><strong>{{a.nome}}</strong></p>
                      <p class="m-0">{{a.servico | uppercase}}</p>
                      <p class="m-0"> {{a.telefone | mask: '(00) 00000-0000'}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
          <!--/card-body-->
        </div>
        <!--/card bg-light-->

        <div class="card bg-light card-mes" style="width:50%;">
          <div class="card-header">
            <h5 class="text-center title-agendamentos mb-0">Agendamentos deste mês</h5>
          </div>
          <div class="card-body">
            <ng-container *ngFor="let a of agendamento$ | async">
              <div class="card card-agendamentos-mes mb-3" [hidden]="(a.data.toDate().getMonth()) != mes">
                <div class="row no-gutters">
                  <div class="col-md-3 text-center">
                    <h4 class="mt-3">{{a.horario}}</h4>
                    <h6>{{a.data.toDate() | date: 'dd/MM/yyyy'}}</h6>
                  </div>
                  <div class="col-md-9 pl-2">
                    <div class="card-body p-2">
                      <p class="m-0"><strong>{{a.nome}}</strong></p>
                      <p class="m-0">{{a.servico | uppercase}}</p>
                      <p class="m-0">{{a.telefone | mask: '(00) 00000-0000'}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
          <!--/card-body-->
        </div>
        <!--/card bg-light-->
      </div><br><br>
    </div>
    <!--/col-lg-12-->
  </div>
  <!--/container-fluid-->
  <!-- /#page-content-wrapper -->