.loading {
    top: 41%;
    left: 37%;
    margin: 0;

}
.navbar-servico-detalhe{
    width: 100%;
    justify-content: center;
}
.content-detalhe {
    padding: 60px 0 140px;
}
.content-detalhe .detalhe-servico{
    display: flex;
    align-items: center;
}
.imagens-mini{
    width: 100px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}
.imagens-mini .box-img{
    width: 81px;
    height: 78px;
    margin: 0px 0px 20px 0px;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}
.imagens-mini .box-img img{
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.4s;
}
.imagens-mini img:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.imagens-mini img:last-child{
    margin-bottom: 0;
}
.imagem-g{
    width: 85%;
    height: 382px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}
.imagem-g img{
    width: 100%;
    height: 100%;
    position: absolute;
}
.imagem-g span{
    font-size: 30px;
    color: #2b2b2b;
    font-weight: 500;
    background-color: #f5eae3;
    position: absolute;
    bottom: 11px;
    left: 0;
    margin: 0 auto;
    right: 0;
    width: 65%;
    height: 56px;
    text-align: center;
    border-radius: 5px;
    opacity: 91%;
    padding-top: 6px;
}

.content-detalhe h2 {
    font-size: 32px;
    color: #2b2b2b;
    margin-bottom: 30px;
}
.content-detalhe .box-calendario-horario{
    border: 1px solid #b2b2b2;
    border-radius: 10px;
    height: 498px;
}
.box-calendario-horario .form-group-datepicker{
    margin-bottom: 40px;
}
.box-calendario-horario .form-group-datepicker h5{
    font-size: 20px;
    color: #2b2b2b;
    text-align: center;
    margin: 30px 0 10px;
}
.list-group-horarios{
    height: 417px;
    padding: 10px 25px;
}
.card-input-radio {
    display: none;
}
  
.card-input-radio:checked + .card-horario {
    background-color: #e9724c;
    color: #fff;
}
  
.card-horario {
    background-color: #fff;
    border: 3px solid transparent;
    border-radius: 30px;
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
    color: #636464;
    text-align: center;
    margin: 0;
    padding: 0px 15px;
    transition: all 0.2s;
}
.card-horario.disabled{
    color: #d3d6d6;
}
.card-horario.disabled:hover{
    cursor: default;
    color: #d3d6d6;
    background-color: #fff;
}
.card-horario:hover{
    cursor: pointer;
    background-color: #e9724c;
    color: #fff;
    transition: all 0.2s;
}
.nav-item label{
    margin: 0;
}
.buttons {
    display: flex;
    justify-content: space-between;
}
  .buttons button:first-child {
    border:1px solid #b2b2b2;
    background-color: #fff;
    border-radius: 5px;
    padding: 13px 45px;
    font-size: 20px;
    color: #9e9e9e;
    outline: none;
}
.buttons button:hover:first-child {
    background-color: #f9f9f9;
}
.buttons button:last-child {
    border:1px solid #e9724c;
    background-color: #e9724c;
    border-radius: 5px;
    padding: 13px 20px;
    font-size: 20px;
    color: #fff;
    outline: none;
}
.buttons button:hover:last-child {
    background-color: #e88f73;
}