<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light navbar-servico-detalhe">
    <button class="navbar-toggler" type="button">
      <img src="assets/img/icons/menu.svg">
    </button>
    <a class="navbar-brand" routerLink="/index"><img src="assets/img/logo-login.png"></a>
    <div class="space"></div>
  </nav>
  <div class="row">
    <div class="col-12 col-lg-12">
      <div class="breadcrumb-detalhe">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item d-none d-sm-block"><a routerLink="/index">Voltar</a></li>
            <li class="breadcrumb-item mobile d-sm-none"><a routerLink="/index"></a></li>
            <li class="breadcrumb-item active d-none d-sm-block" aria-current="page">Agenda</li>
            <li class="breadcrumb-item mobile d-sm-none" aria-current="page">Agendamento</li>
          </ol>
        </nav>
      </div>
      <div class="content-detalhe">
        <span class="loading" *ngIf="!(servicos$ | async)"></span>
        <ng-container *ngIf="servicos$ | async as s; else loading">
          <h4 class="d-none d-sm-block">Serviço sendo agendado</h4>

          <div class="detalhe-servico">
            <!--img [src]="imageClick ? imageClick : s.imagem1"-->
            <div class="box-img">
              <img src="{{s.imageUrl}}">
            </div>
            <div class="textos">
              <p>{{s.nomeservico}}</p>
              <h3>{{s.valorservico != 0 ? (s.valorservico | currency:'BRL':true) : 'Sob Consulta'}}</h3>
            </div>
            <!--div class="imagens-mini">
                            <div class="box-img">
                                <!--img (click)="imgEvent($event)" src="{{s.imagem1}}"-->
            <!--img (click)="imgEvent($event)" src="{{imagesUrl.imagem1}}">
                            </div-->
            <!--div class="box-img">
                                <!--img (click)="imgEvent($event)" src="{{s.imagem2}}"-->
            <!--img (click)="imgEvent($event)" src="{{imagesUrl.imagem2}}">
                            </div-->
            <!--div class="box-img">
                                <!--img (click)="imgEvent($event)" src="{{s.imagem3}}"-->
            <!--img (click)="imgEvent($event)" src="{{imagesUrl.imagem3}}">
                            </div-->
            <!--div class="box-img">
                                <!--img (click)="imgEvent($event)" src="{{s.imagem4}}"-->
            <!--img (click)="imgEvent($event)" src="{{imagesUrl.imagem4}}">
                            </div>
                        </div-->
          </div>
        </ng-container>
        <h4 class="d-none d-sm-block">
          {{ items[selectedIndex] === 1 ? 'Escolha uma data' : 
            (items[selectedIndex] === 2 ? 'Escolha um horário' : 'Como deseja pagar?') }}
        </h4>
      
        <div class="box-calendario-horario">
          <h5 class="d-sm-none">{{ selectedDate ? 'Escolha um horário' : 'Selecione uma data' }}</h5>
          <div class="form-group form-group-datepicker" [ngClass]="(items[selectedIndex] === 1) ? 'showItem' : 'hideItem'">
            
            <div class="box-data mt-3">
              <bs-datepicker-inline [bsValue]="bsInlineValue" (bsValueChange)="onValueChange($event)" bsDatepicker
                [minDate]="minDate" [bsConfig]="{showWeekNumbers: false}" #picker>
              </bs-datepicker-inline>
            </div>
          </div>

          <div class="form-group form-group-datepicker" [ngClass]="(items[selectedIndex] === 2) ? 'showItem' : 'hideItem'">
            
            <div class="box-horario mt-3">
              <ul class="nav list-group-horarios mt-3">
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="08:00"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">08:00</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="08:30"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">08:30</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="09:00"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">09:00</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="09:30"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">09:30</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="10:00"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">10:00</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="10:30"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">10:30</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="11:00"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">11:00</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="11:30"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">11:30</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="12:00"
                      (change)="changeHorario($event)" #radio disabled>
                    <div class="card-horario disabled">12:00</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="12:30"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">12:30</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="13:00"
                      (change)="changeHorario($event)" #radio disabled>
                    <div class="card-horario disabled">13:00</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="13:30"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">13:30</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="14:00"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">14:00</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="14:30"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">14:30</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="15:00"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">15:00</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="15:30"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">15:30</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="16:00"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">16:00</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="16:30"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">16:30</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="17:00"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">17:00</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="17:30"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">17:30</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="18:00"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">18:00</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="18:30"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">18:30</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="19:00"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">19:00</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="19:30"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">19:30</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="20:00"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">20:00</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="20:30"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">20:30</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="21:00"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">21:00</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="21:30"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">21:30</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="22:00"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">22:00</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="22:30"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">22:30</div>
                  </label>
                </li>
              </ul>

            </div>
          </div>

          <div class="form-group form-group-datepicker" [ngClass]="(items[selectedIndex] === 3) ? 'showItem' : 'hideItem'">
            pagamento
          </div>

          <div *ngIf="items[selectedIndex] !== 1" class="buttons">
            <button (click)="prev()">voltar</button>
            <button [disabled]="items[selectedIndex] !== 3" 
                    [ngClass]="(items[selectedIndex] !== 3) ? 'button-disabled' : ''">
                    Concluir agendamento
            </button>
          </div>
        </div>
      </div>

    </div>
    <!-- /row -->
  </div>
  <!-- /content-detalhe -->

</div>
<!-- /container -->

<div class="box-btns-mobile">
  <div class="buttons buttons-mobile">
    <button (click)="backHorario()">voltar</button>
    <button class="disabled">Concluir agendamento</button>
  </div>
</div>