<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light navbar-servico-detalhe d-none d-sm-block">
    <a class="navbar-brand" routerLink="/index"><img src="assets/img/logo-login.png"></a>
  </nav>
  <div class="row">
    <div class="col-12 col-lg-12">
      <div class="breadcrumb-detalhe">

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item mobile d-sm-none"><a (click)="prev()"></a></li>
            <li *ngIf="selectedIndex === 0" class="breadcrumb-item mobile d-sm-none">Agendamento</li>
            <li *ngIf="selectedIndex === 1" class="breadcrumb-item mobile d-sm-none">Horários</li>
            <li *ngIf="selectedIndex === 2" class="breadcrumb-item mobile d-sm-none">Pagamento</li>
            <li class="breadcrumb-item d-none d-sm-block"><a routerLink="/index">Home</a></li>
            <li id="0" class="breadcrumb-item d-none d-sm-block" 
                [ngClass]="{'active' : selectedIndex === 0}" 
                (click)="crumbsEvent($event)">Agendamento
            </li>
            <li *ngFor="let b of breadcrumbs" class="breadcrumb-item d-none d-sm-block"
              [ngClass]="{'active' : (selectedIndex === b)}">
              <container-element [ngSwitch]="b">
                <span id="1"  *ngSwitchCase="b === 1" (click)="crumbsEvent($event)">Horários</span>
                <span *ngSwitchDefault>Pagamento</span>
              </container-element>
            </li>

          </ol>
        </nav>
      </div>

      <div class="content-detalhe">
        <span class="loading" *ngIf="!(servicos$ | async)"></span>
        <ng-container *ngIf="servicos$ | async as s; else loading">
          <h4 [ngClass]="{'d-none' : (items[selectedIndex] === 3)}">
            Serviço sendo agendado
          </h4>

          <div class="detalhe-servico" [hidden]="items[selectedIndex] === 3">
            <!--img [src]="imageClick ? imageClick : s.imagem1"-->
            <div class="box-img">
              <img src="{{s.imageUrl}}">
            </div>
            <div class="textos">
              <p>{{s.nomeservico}}</p>
              <h3>{{s.valorservico != 0 ? (s.valorservico | currency:'BRL':true) : 'Sob Consulta'}}</h3>
            </div>
            <!--div class="imagens-mini">
                            <div class="box-img">
                                <!--img (click)="imgEvent($event)" src="{{s.imagem1}}"-->
            <!--img (click)="imgEvent($event)" src="{{imagesUrl.imagem1}}">
                            </div-->
            <!--div class="box-img">
                                <!--img (click)="imgEvent($event)" src="{{s.imagem2}}"-->
            <!--img (click)="imgEvent($event)" src="{{imagesUrl.imagem2}}">
                            </div-->
            <!--div class="box-img">
                                <!--img (click)="imgEvent($event)" src="{{s.imagem3}}"-->
            <!--img (click)="imgEvent($event)" src="{{imagesUrl.imagem3}}">
                            </div-->
            <!--div class="box-img">
                                <!--img (click)="imgEvent($event)" src="{{s.imagem4}}"-->
            <!--img (click)="imgEvent($event)" src="{{imagesUrl.imagem4}}">
                            </div>
                        </div-->
          </div>
        </ng-container>

        <h4 class="d-none d-sm-block">
          {{ items[selectedIndex] === 1 ? 'Escolha uma data' : 
            (items[selectedIndex] === 2 ? 'Escolha um horário' : 'Como deseja pagar?') }}
        </h4>

        <div class="box-calendario-horario" [ngClass]="{'border-0' : (items[selectedIndex] === 3)}">
          <h5 class="d-sm-none" [ngClass]="{'text-left mt-1' : (items[selectedIndex] === 3)}">
            {{ items[selectedIndex] === 1 ? 'Escolha uma data' : 
            (items[selectedIndex] === 2 ? 'Escolha um horário' : 'Como deseja pagar?') }}
          </h5>
          <div class="form-group form-group-datepicker"
            [ngClass]="(items[selectedIndex] === 1) ? 'showItem' : 'hideItem'">

            <div class="box-data">
              <bs-datepicker-inline [bsValue]="bsInlineValue" (bsValueChange)="onValueChange($event)" bsDatepicker
                [minDate]="minDate" [bsConfig]="{showWeekNumbers: false}" #picker>
              </bs-datepicker-inline>
            </div>
          </div>

          <div class="form-group form-group-datepicker"
            [ngClass]="(items[selectedIndex] === 2) ? 'showItem' : 'hideItem'">

            <div class="box-horario">
              <ul class="nav list-group-horarios mt-1">
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="08:00"
                      (click)="changeHorario($event)" #radio>
                    <div class="card-horario">08:00</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="08:30"
                      (click)="changeHorario($event)" #radio>
                    <div class="card-horario">08:30</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="09:00"
                      (click)="changeHorario($event)" #radio>
                    <div class="card-horario">09:00</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="09:30"
                      (click)="changeHorario($event)" #radio>
                    <div class="card-horario">09:30</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="10:00"
                      (click)="changeHorario($event)" #radio>
                    <div class="card-horario">10:00</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="10:30"
                      (click)="changeHorario($event)" #radio>
                    <div class="card-horario">10:30</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="11:00"
                      (click)="changeHorario($event)" #radio>
                    <div class="card-horario">11:00</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="11:30"
                      (click)="changeHorario($event)" #radio>
                    <div class="card-horario">11:30</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="12:00"
                      (click)="changeHorario($event)" #radio disabled>
                    <div class="card-horario disabled">12:00</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="12:30"
                      (click)="changeHorario($event)" #radio>
                    <div class="card-horario">12:30</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="13:00"
                      (click)="changeHorario($event)" #radio disabled>
                    <div class="card-horario disabled">13:00</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="13:30"
                      (click)="changeHorario($event)" #radio>
                    <div class="card-horario">13:30</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="14:00"
                      (click)="changeHorario($event)" #radio>
                    <div class="card-horario">14:00</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="14:30"
                      (click)="changeHorario($event)" #radio>
                    <div class="card-horario">14:30</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="15:00"
                      (click)="changeHorario($event)" #radio>
                    <div class="card-horario">15:00</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="15:30"
                      (click)="changeHorario($event)" #radio>
                    <div class="card-horario">15:30</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="16:00"
                      (click)="changeHorario($event)" #radio>
                    <div class="card-horario">16:00</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="16:30"
                      (click)="changeHorario($event)" #radio>
                    <div class="card-horario">16:30</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="17:00"
                      (click)="changeHorario($event)" #radio>
                    <div class="card-horario">17:00</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="17:30"
                      (click)="changeHorario($event)" #radio>
                    <div class="card-horario">17:30</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="18:00"
                      (click)="changeHorario($event)" #radio>
                    <div class="card-horario">18:00</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="18:30"
                      (click)="changeHorario($event)" #radio>
                    <div class="card-horario">18:30</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="19:00"
                      (click)="changeHorario($event)" #radio>
                    <div class="card-horario">19:00</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="19:30"
                      (click)="changeHorario($event)" #radio>
                    <div class="card-horario">19:30</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="20:00"
                      (click)="changeHorario($event)" #radio>
                    <div class="card-horario">20:00</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="20:30"
                      (click)="changeHorario($event)" #radio>
                    <div class="card-horario">20:30</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="21:00"
                      (click)="changeHorario($event)" #radio>
                    <div class="card-horario">21:00</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="21:30"
                      (click)="changeHorario($event)" #radio>
                    <div class="card-horario">21:30</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="22:00"
                      (click)="changeHorario($event)" #radio>
                    <div class="card-horario">22:00</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="22:30"
                      (click)="changeHorario($event)" #radio>
                    <div class="card-horario" [ngClass]="(horarioInput === '22:30') ? 'checked' : ''">22:30</div>
                  </label>
                </li>
              </ul>

            </div>
          </div>

          <div class="form-group form-group-datepicker"
            [ngClass]="(items[selectedIndex] === 3) ? 'showItem' : 'hideItem'">
            <div class="radios">
              <div class="custom-radio">
                <input type="radio" id="cartao" name="radio" value="cartao" (change)="changePagamento($event)" checked>
                <label for="cartao">Cartão</label>
              </div>
              <div class="custom-radio">
                <input type="radio" id="dinheiro" name="radio" value="dinheiro" (change)="changePagamento($event)">
                <label for="dinheiro">Dinheiro</label>
              </div>
              <div class="custom-radio">
                <input type="radio" id="apps" name="radio" value="apps" (change)="changePagamento($event)">
                <label for="apps" class="label-apps">
                  <span>Apps de pagamento</span>
                  <span>Apps</span>
                </label>

              </div>
            </div>

            <div class="card-info">
              <p>{{ formaPagamento === 'cartao' ?  'Caro cliente, o seu pagamento será realizado 
                no estabelecimento físico, mas solicitamos que nos informe qual é a bandeira do seu cartão.' : 
                (formaPagamento === 'dinheiro' ? 'Caro cliente, o seu pagamento será realizado no estabelecimento físico.' : 
                'Caro cliente, o seu pagamento será realizado no estabelecimento físico, 
                mas solicitamos que informe com qual app deseja fazer isso.' ) }}
              </p>

            </div>

            <div class="formas-pagamento">
              <p>{{ formaPagamento === 'cartao' ? 'Qual a bandeira do seu cartão' : 'Pagar em dinheiro' }}</p>

              <div *ngIf="formaPagamento === 'cartao'" class="section-bandeiras">
                <div class="row">
                  <div class="col-4 col-lg-3">
                    <label for="visa" class="box-bandeira" [ngClass]="(bandeira === 'visa') ? 'checked' : ''">
                      <div class="custom-radio">
                        <input type="radio" name="bandeira" id="visa" value="visa" (click)="changeBandeira($event)">
                        <img src="assets/img/icons/bandeiras/visa.svg">
                      </div>
                    </label><!-- /label box-bandeira -->
                  </div>
                  <div class="col-4 col-lg-3">
                    <label for="mastercard" class="box-bandeira"
                      [ngClass]="(bandeira === 'mastercard')? 'checked' : ''">
                      <div class="custom-radio">
                        <input type="radio" name="bandeira" id="mastercard" value="mastercard"
                          (click)="changeBandeira($event)">
                        <img src="assets/img/icons/bandeiras/mastercard.svg">
                      </div>
                    </label><!-- /label box-bandeira -->
                  </div>
                  <div class="col-4 col-lg-3">
                    <label for="hipercard" class="box-bandeira" [ngClass]="(bandeira === 'hipercard')? 'checked' : ''">
                      <div class="custom-radio">
                        <input type="radio" name="bandeira" id="hipercard" value="hipercard"
                          (click)="changeBandeira($event)">
                        <img src="assets/img/icons/bandeiras/hipercard.svg">
                      </div>
                    </label><!-- /label box-bandeira -->
                  </div>
                  <div class="col-4 col-lg-3">
                    <label for="elo" class="box-bandeira" [ngClass]="(bandeira === 'elo')? 'checked' : ''">
                      <div class="custom-radio">
                        <input type="radio" name="bandeira" id="elo" value="elo" (click)="changeBandeira($event)">
                        <img src="assets/img/icons/bandeiras/elo.png">
                      </div>
                    </label><!-- /label box-bandeira -->
                  </div>
                  <div class="col-4 col-lg-3">
                    <label for="dinersclub" class="box-bandeira"
                      [ngClass]="(bandeira === 'dinersclub')? 'checked' : ''">
                      <div class="custom-radio">
                        <input type="radio" name="bandeira" id="dinersclub" value="dinersclub"
                          (click)="changeBandeira($event)">
                        <img src="assets/img/icons/bandeiras/diners-club.svg">
                      </div>
                    </label><!-- /label box-bandeira -->
                  </div>
                  <div class="col-4 col-lg-3">
                    <label for="americanexpress" class="box-bandeira"
                      [ngClass]="(bandeira === 'americanexpress')? 'checked' : ''">
                      <div class="custom-radio">
                        <input type="radio" name="bandeira" id="americanexpress" value="americanexpress"
                          (click)="changeBandeira($event)">
                        <img src="assets/img/icons/bandeiras/american-express.svg">
                      </div>
                    </label><!-- /label box-bandeira -->
                  </div>
                  <div class="col-4 col-lg-3">
                    <label for="hiper" class="box-bandeira" [ngClass]="(bandeira === 'hiper')? 'checked' : ''">
                      <div class="custom-radio">
                        <input type="radio" name="bandeira" id="hiper" value="hiper" (click)="changeBandeira($event)">
                        <img src="assets/img/icons/bandeiras/hiper.png">
                      </div>
                    </label><!-- /label box-bandeira -->
                  </div>
                  <div class="col-4 col-lg-3">
                    <label for="alelo" class="box-bandeira" [ngClass]="(bandeira === 'alelo')? 'checked' : ''">
                      <div class="custom-radio">
                        <input type="radio" name="bandeira" id="alelo" value="alelo" (click)="changeBandeira($event)">
                        <img src="assets/img/icons/bandeiras/alelo.png">
                      </div>
                    </label><!-- /label box-bandeira -->
                  </div>
                  <div class="col-4 col-lg-3">
                    <label for="cabalcard" class="box-bandeira" [ngClass]="(bandeira === 'cabalcard')? 'checked' : ''">
                      <div class="custom-radio">
                        <input type="radio" name="bandeira" id="cabalcard" value="cabalcard"
                          (click)="changeBandeira($event)">
                        <img src="assets/img/icons/bandeiras/cabalcard.png">
                      </div>
                    </label><!-- /label box-bandeira -->
                  </div>
                  <div class="col-4 col-lg-3">
                    <label for="goodcard" class="box-bandeira" [ngClass]="(bandeira === 'goodcard')? 'checked' : ''">
                      <div class="custom-radio">
                        <input type="radio" name="bandeira" id="goodcard" value="goodcard"
                          (click)="changeBandeira($event)">
                        <img src="assets/img/icons/bandeiras/good-card.png">
                      </div>
                    </label><!-- /label box-bandeira -->
                  </div>
                  <div class="col-4 col-lg-3">
                    <label for="sicredi" class="box-bandeira" [ngClass]="(bandeira === 'sicredi')? 'checked' : ''">
                      <div class="custom-radio">
                        <input type="radio" name="bandeira" id="sicredi" value="sicredi"
                          (click)="changeBandeira($event)">
                        <img src="assets/img/icons/bandeiras/sicredi.png">
                      </div>
                    </label><!-- /label box-bandeira -->
                  </div>
                </div><!-- /row-item -->

              </div><!-- /section-bandeiras -->

              <div *ngIf="formaPagamento === 'dinheiro'" class="section-dinheiro">
                <div class="row">
                  <div class="col-4 col-lg-3">
                    <label for="cedula" class="box-bandeira" [ngClass]="(bandeira === 'cedula') ? 'checked' : ''">
                      <div class="custom-radio">
                        <input type="radio" name="bandeira" id="cedula" value="cedula" (click)="changeBandeira($event)">
                        <img src="assets/img/icons/bandeiras/dinheiro.svg">
                      </div>
                    </label><!-- /label box-bandeira -->
                  </div>
                </div><!-- /row-item -->
              </div><!-- /section-dinheiro -->

              <div *ngIf="formaPagamento === 'apps'" class="section-apps">
                <div class="row">
                  <div class="col-4 col-lg-3">
                    <label for="picpay" class="box-bandeira" [ngClass]="(bandeira === 'picpay') ? 'checked' : ''">
                      <div class="custom-radio">
                        <input type="radio" name="bandeira" id="picpay" value="picpay" (click)="changeBandeira($event)">
                        <img src="assets/img/icons/bandeiras/picpay.png">
                      </div>
                    </label><!-- /label box-bandeira -->
                  </div>

                  <div class="col-4 col-lg-3">
                    <label for="ame" class="box-bandeira" [ngClass]="(bandeira === 'ame')? 'checked' : ''">
                      <div class="custom-radio">
                        <input type="radio" name="bandeira" id="ame" value="ame" (click)="changeBandeira($event)">
                        <img src="assets/img/icons/bandeiras/ame.png">
                      </div>
                    </label><!-- /label box-bandeira -->
                  </div>

                  <div class="col-4 col-lg-3">
                    <label for="interpag" class="box-bandeira" [ngClass]="(bandeira === 'interpag')? 'checked' : ''">
                      <div class="custom-radio">
                        <input type="radio" name="bandeira" id="interpag" value="interpag"
                          (click)="changeBandeira($event)">
                        <img src="assets/img/icons/bandeiras/interpag.png">
                      </div>
                    </label><!-- /label box-bandeira -->
                  </div>

                  <div class="col-4 col-lg-3">
                    <label for="itiitau" class="box-bandeira" [ngClass]="(bandeira === 'itiitau')? 'checked' : ''">
                      <div class="custom-radio">
                        <input type="radio" name="bandeira" id="itiitau" value="itiitau"
                          (click)="changeBandeira($event)">
                        <img src="assets/img/icons/bandeiras/iti-itau.png">
                      </div>
                    </label><!-- /label box-bandeira -->
                  </div>

                  <div class="col-4 col-lg-3">
                    <label for="gpay" class="box-bandeira" [ngClass]="(bandeira === 'gpay')? 'checked' : ''">
                      <div class="custom-radio">
                        <input type="radio" name="bandeira" id="gpay" value="gpay" (click)="changeBandeira($event)">
                        <img src="assets/img/icons/bandeiras/g-pay.png">
                      </div>
                    </label><!-- /label box-bandeira -->
                  </div>

                  <div class="col-4 col-lg-3">
                    <label for="applepay" class="box-bandeira" [ngClass]="(bandeira === 'applepay')? 'checked' : ''">
                      <div class="custom-radio">
                        <input type="radio" name="bandeira" id="applepay" value="applepay"
                          (click)="changeBandeira($event)">
                        <img src="assets/img/icons/bandeiras/apple-pay.png">
                      </div>
                    </label><!-- /label box-bandeira -->
                  </div>

                  <div class="col-4 col-lg-3">
                    <label for="samsung" class="box-bandeira" [ngClass]="(bandeira === 'samsung')? 'checked' : ''">
                      <div class="custom-radio">
                        <input type="radio" name="bandeira" id="samsung" value="samsung"
                          (click)="changeBandeira($event)">
                        <img src="assets/img/icons/bandeiras/samsung.png">
                      </div>
                    </label><!-- /label box-bandeira -->
                  </div>

                </div><!-- /row-item -->

              </div><!-- /section-apps -->

            </div><!-- /formas-pagamento -->

          </div><!-- /form-group form-group-datapicker -->

          <div *ngIf="items[selectedIndex] !== 1" class="buttons">
            <button class="prev-section" [ngClass]="items[selectedIndex] === 2 ? 'w-100' : ''" (click)="prev()">
              voltar
            </button>
            <button class="concluir" [ngClass]="bandeira ? '' : 'button-disabled'" *ngIf="items[selectedIndex] === 3"
              [disabled]="!bandeira">
              Concluir agendamento
            </button>
          </div><!-- /buttons -->

        </div><!-- /box-calendario-horario -->
      </div>

    </div>
    <!-- /row -->
  </div>
  <!-- /content-detalhe -->

</div>
<!-- /container -->


<div class="box-btns-mobile">
  <ng-container *ngIf="items[selectedIndex] !== 3">
    <a class="home-m" routerLink="/index" routerLinkActive="active-m" [routerLinkActiveOptions]="{exact: true}"></a>

    <a class="agenda-m" routerLink="/agendamento" routerLinkActive="active-m"></a>
  
    <a class="ajuda-m" routerLink="/agendamento" routerLinkActive="active-m"></a>
  
    <a class="perfil-m" routerLink="/agendamento" routerLinkActive="active-m"></a>
  </ng-container>

  <ng-container *ngIf="items[selectedIndex] === 3">
    <div class="buttons buttons-mobile">
      <button class="prev-section" [ngClass]="items[selectedIndex] === 2 ? 'w-100' : ''" (click)="prev()">
        voltar
      </button>
      <button class="concluir" [ngClass]="bandeira ? '' : 'button-disabled'" *ngIf="items[selectedIndex] === 3"
        [disabled]="!bandeira">
        Concluir agendamento
      </button>
    </div>
  </ng-container>

</div>