.loading {
    top: 41%;
    left: 37%;
    margin: 0;

}
.navbar-servico-detalhe{
    width: 100%;
    justify-content: center;
}
.content-detalhe{
    width: 52%;
    margin: 0 auto;
    padding: 0px 0 140px;
}

.content-detalhe h4{
    font-size: 25px;
    color: #2b2b2b;
    margin-bottom: 20px;
}
.content-detalhe .detalhe-servico{
   display: flex;
   background-color: #f5eae3;
   border-radius: 10px;
   margin-bottom: 40px;
}
.breadcrumb-detalhe {
    width: 52%;
    margin: 20px auto 0;
}
.breadcrumb{
    background: #fff;
    padding-left: 0;
}
.breadcrumb-item{
    font-size: 20px;
    color: #9e9e9e;
}
.breadcrumb-item a{
    color: #9e9e9e !important;
    text-decoration: none;
    display: block;
    position: relative;
}
.breadcrumb-item a:hover{
    color: #e9724c !important;
}
.breadcrumb-item.active{
    color: #e9724c;
}
.breadcrumb-item+.breadcrumb-item::before{
    content: '|';
    color: #9e9e9e !important;
}
.content-detalhe .detalhe-servico .box-img{
    width: 125px;
    height: 115px;
    overflow: hidden;
    position: relative;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.textos{
    margin-left: 15px;
    padding-top: 7px;
}
.content-detalhe .detalhe-servico .box-img img{
    width: 100%;
    height: 100%;
    position: absolute;
}
.textos p{
    font-size: 20px;
    color: #2b2b2b;
    height: 48px;
}
.textos h3 {
    font-size: 30px;
    color: #2b2b2b;
}

.content-detalhe .box-calendario-horario{
    border: 1px solid #b2b2b2;
    border-radius: 10px;
    height: 415px;
}
.box-calendario-horario .form-group-datepicker{
    margin-bottom: 20px;
}
.box-calendario-horario .form-group-datepicker h5{
    font-size: 20px;
    color: #2b2b2b;
    text-align: center;
    margin: 30px 0 10px;
}
.list-group-horarios{
    height: 417px;
    padding: 10px 25px;
    justify-content: center;
}
.card-input-radio {
    display: none;
}
  
.card-input-radio:checked + .card-horario {
    background-color: #e9724c;
    color: #fff;
}
  
.card-horario {
    background-color: #fff;
    border: 3px solid transparent;
    border-radius: 30px;
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
    color: #636464;
    text-align: center;
    margin: 0;
    padding: 0px 15px;
    transition: all 0.2s;
}
.card-horario.disabled{
    color: #d3d6d6;
}
.card-horario.disabled:hover{
    cursor: default;
    color: #d3d6d6;
    background-color: #fff;
}
.card-horario:hover{
    cursor: pointer;
    background-color: #e9724c;
    color: #fff;
    transition: all 0.2s;
}
.nav-item label{
    margin: 0;
}
.buttons {
    display: flex;
    justify-content: space-between;
}
  .buttons button:first-child {
    border:1px solid #b2b2b2;
    background-color: #fff;
    border-radius: 5px;
    padding: 8px 45px;
    height: 50px;
    font-size: 20px;
    color: #9e9e9e;
    outline: none;
}
.buttons button:hover:first-child {
    background-color: #f9f9f9;
}
.buttons button:last-child {
    border:1px solid #e9724c;
    background-color: #e9724c;
    border-radius: 5px;
    padding: 8px 20px;
    height: 50px;
    font-size: 20px;
    color: #fff;
    outline: none;
}
.buttons button:hover:last-child {
    border:1px solid #e88f73;
    background-color: #e88f73;
}
.buttons .button-disabled{
    border:1px solid #eee !important;
    background-color: #eee !important;
    color: #9e9e9e !important;
    cursor: default !important;
}
.navbar-servico-detalhe .navbar-toggler,
.box-btns-mobile{
    display: none;
}
.showItem{
    display: block;
}
.hideItem{
    display: none;
}

.radios{
    width: 100%;
    display: flex;
}
.radios .custom-radio{
   margin-right: 40px;
}
.card-info{
    background: #e3f3eb;
    border-radius: 3px;
    padding: 8px 10px 8px;
    margin-top: 10px;
    margin-bottom: 40px;
}
.card-info p{
    font-size: 16px;
    line-height: 20px;
    color: #61a782;
    margin: 0;
    width: 92%;
}

[type="radio"]:checked + label:before {
	border:2px solid #e9724c !important;
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
	position: absolute;
	left: -9999px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
	position: relative;
	padding-left: 28px;
	cursor: pointer;
    line-height: 20px;
    font-size: 20px;
    color: #9e9e9e;
    display: inline-block;
}
[type="radio"]:checked + label{
    color: #e9724c !important;
    font-weight: 500;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 22px;
	height: 22px;
	border: 2px solid #9e9e9e;
	border-radius: 100%;
	background: #fff;

}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
	content: '';
	width: 10px;
	height: 10px;
	background: #e9724c;
	position: absolute;
	top: 6px;
	left: 6px;
	border-radius: 100%;
	-webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  
}
[type="radio"]:not(:checked) + label:after {
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}
[type="radio"]:checked + label:after {
	opacity: 1;
	-webkit-transform: scale(1);
    transform: scale(1);
}
.formas-pagamento{
    margin-bottom: 80px;
}
.formas-pagamento p{
    font-size: 20px;
    color: #2b2b2b;
}
.formas-pagamento .row-item{
	display: flex;
	/*justify-content: space-between;*/
	align-items: center;
	margin-bottom: 25px;
}
.box-bandeira{
	background-color: #fff;
	border-radius: 30px;
	border: 2px solid #d3d6d6;
	width: 125px;
	height: 50px;
	align-items: center;
	justify-content: center;
    display: flex;
    margin-right: 25px;
    cursor: pointer;
}
.box-bandeira:last-child{
    margin-right: 0;
}
.box-bandeira:hover, .box-bandeira.checked{
    border: 2px solid #e9724c;
}


@media (max-width: 575px) { 
/*================= SERVICO DETALHE =================*/
    .loading{
        display: none;
    }
    .navbar-servico-detalhe {
        padding-left: 0;
        padding-right: 0;
        justify-content: space-between;
    }
    .space{
        width: 25%;
    }
    .item-detalhe-header a{
        display: none;
    }
    .navbar-servico-detalhe .navbar-toggler{
        display: block;
        border: none;
        padding: 0;
        width: 25%;
        text-align: left;
    }
    .navbar-brand{
        margin-right: 0;
        text-align: center;
        display: block;
        width: 50%;
        text-align: center;
    }
    .breadcrumb{
        margin-bottom: 0;
    }
    .breadcrumb-detalhe{
        width: 100%;
        margin-top: 0;
    }
    .breadcrumb-item + .breadcrumb-item::before{
        display: none;
    }
    .breadcrumb-item.mobile:nth-child(2){
        padding-left: 0;
        margin-right: 10px;
    }
    .breadcrumb-item a::before{
        content: url('/../assets/img/icons/voltar-black.svg');
    }
    .content-detalhe{
        padding: 10px 0 100px !important;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    .content-detalhe .row{
        flex-direction: column-reverse;
    }
    .content-detalhe .detalhe-servico{
        width: 100%;
        margin-top: 20px;
        margin-bottom: 0;
    }
    .content-detalhe h2{
        font-size: 20px;
        margin-top: 30px;
    }
    .imagens-mini {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .imagens-mini .box-img{
        width: 22%;
        height: 60px;
        margin: 0 16px 20px 0;
    }
    .imagens-mini .box-img:nth-child(4){
        margin-right: 0;
    }
    .imagem-g{
        width: 100%;
        height: 232px;
        margin-bottom: 10px;
    }
    .imagem-g span{
        font-size: 25px;
        height: 45px;
        padding-top: 5px;
        width: 80%;
    }
    .list-group-horarios{
        padding: 0;
        height: 320px;
    }
    .card-horario{
        padding: 0px 12px;
        font-size: 20px;
    }
    .content-detalhe .detalhe-servico .box-img{
        min-width: 98px;
        width: 98px;
        height: 95px;
    }
    .textos p {
        font-size: 16px;
        height: 34px;
        line-height: 20px;
    }
    .textos h3{
        font-size: 25px;
    }
    .box-calendario-horario .buttons {
        display: none;
    }
    .box-calendario-horario h5{
        text-align: center;
        font-size: 20px;
        margin-top: 22px;
        margin-bottom: 15px;
    }
    .box-btns-mobile{
        display: flex;
        background-color: #fff;
        width: 100%;
        height: 78px;
        box-shadow: 0px 1px 10px 0 #9e9e9e;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding:0 15px;
        position: fixed;
        bottom: 0;
        z-index: 5;
    }
    .box-btns-mobile .links{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .box-btns-mobile a:first-child{
        background-color: #f5eae3;
        color: #e9724c;
        padding: 8px 15px 6px;
        border-radius: 30px;
        text-decoration: none;
    }
    .box-btns-mobile a:first-child img{
        position: relative;
        margin-right: 8px;
        top: -3px;
    }
    .box-btns-mobile .buttons-mobile{
        width: 100%;
        align-items: center;
    }
    .box-btns-mobile .buttons-mobile button{
        height: 45px;
        font-size: 15px;
        padding: 10px 22px;
    }

  
}