<div *ngIf="isDropdown" class="overlay" [@fadeInOut] (click)="closeOverlay()"></div>
<span class="loading" *ngIf="!(servicos$ | async)"></span>
<div class="container">
  <app-header (isDropdownToEmit)="getMessage($event)" (valueToEmit)="getValueMessage($event)"></app-header>

  <div class="section-servicos">

    <div *ngIf="(servicos$ | async)?.length === 0" class="no-result-search">
      <div class="header-icon">
        <img src="assets/img/icons/spa.svg" alt="icone-spa">
      </div>
    
      <h3>Ops! Serviço não encontrado</h3>
      <h4>Não encontramos nenhum resultado para: <span>"{{parametro[0]}}"</span></h4>

      <h4>O que eu faço?</h4>

      <p><img src="assets/img/icons/correct.svg" alt="icone-correto"> Verifique os termos digitados ou os filtros selecionados.</p>
      <p><img src="assets/img/icons/correct.svg" alt="icone-correto"> Uiliza termos genéricos na busca.</p>
    </div>

    <div class="d-none title-result-search"  
    *ngIf="(loading === false) && ((servicos$ | async)?.length !== 0)"
    [ngClass]="{'d-sm-block': (loading === false) && (servicos$ | async)}">
      <h4>Encontramos {{ (servicos$ | async)?.length || 0 }} 
        resultados para: <span>"{{parametro[0]}}"</span></h4>
    </div>

    <div class="d-none d-sm-none title-result-search"
    *ngIf="(loading === false) && ((servicos$ | async)?.length !== 0)"
    [ngClass]="{'d-block': (loading === false) && (servicos$ | async)}"
    >
      <h4>{{ (servicos$ | async)?.length || 0 }} 
        resultados para:<br> <span>{{parametro[0]}}</span></h4>
    </div>
    
    <div class="box-servicos">
      <div class="row">

        <div class="col-6 col-lg-4" *ngFor="let s of servicos$ | async">

          <div class="card-img">
            <div class="box-avaliation">
              <img src="assets/img/icons/star.svg" alt="estrela">
              <p>4,5</p>
            </div>
            <a routerLink="/index/{{s.id}}">
              <div class="box-img">
                <img src="{{s.imageUrl}}" alt="imagem-serviço">
              </div>
              <p class="default-description">{{s.nomeservico}}</p>
              <p class="mobile-description">
                {{(s.nomeservico.length > 36) ? (s.nomeservico | slice:0:36) + '...' : (s.nomeservico)}} </p>
            </a>
            <div class="box-btn-price">
              <a routerLink="/index/{{s.id}}">Agendar</a>
              <h3 [hidden]="s.valorservico == 0">
                {{s.valorservico != 0 ? (s.valorservico | currency:'BRL':true) : 'Sob Consulta'}}</h3>
              <h5 class="mt-2" *ngIf="s.valorservico == 0 ">
                {{s.valorservico != 0 ? (s.valorservico | currency:'BRL':true) : 'Sob Consulta'}}</h5>
            </div>
          </div>

        </div><!-- /col-lg-4 -->

      </div><!-- /row -->

    </div><!-- /box-servicos -->
  </div><!-- /section-servicos -->


</div><!-- /container-->

<div class="box-btns-mobile">
  <a class="home-m" routerLink="/index" routerLinkActive="active-m"></a>

  <a class="agenda-m" routerLink="/agendamento" routerLinkActive="active-m"></a>

  <a class="ajuda-m" routerLink="/agendamento" routerLinkActive="active-m"></a>

  <a class="perfil-m" routerLink="/agendamento" routerLinkActive="active-m"></a>
</div>

<app-footer></app-footer>
