<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form [formGroup]="loginForm" class="login100-form validate-form" (ngSubmit)="onSubmit()">
        <span class="login100-form-title p-b-43">
          Login
        </span>


        <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
          <input class="input100" type="email" name="email" formControlName="email" placeholder="Seu e-mail">
          <i class="material-icons">perm_identity</i>
        </div>


        <div class="wrap-input100 validate-input" data-validate="Password is required">
          <input class="input100" type="{{type}}" name="pass" formControlName="password" placeholder="Sua senha">
          <i class="material-icons">lock_outline</i>
          <i (click)="toggleShow()" class="material-icons" [ngClass]="(visibility =='visibility') ? 'color-green' : ''">{{visibility}}</i>
        </div>

        <div class="flex-sb-m w-full">
          <div class="contact100-form-checkbox">
            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
            <label class="label-checkbox100" for="ckb1">
              Lembrar-me
            </label>
          </div>
        </div>


        <div class="container-login100-form-btn">
          <button type="submit" class="login100-form-btn">
            Entrar
          </button>
        </div>

        <div class="login100-form-social flex-c-m">
          <button class="login100-social-btn" (click)="loginGoogle()">
            <img src="assets/img/icons/icone-google.svg">
            Entrar com Google
          </button>

          <button class="login100-social-btn">
            <img src="assets/img/icons/icone-facebook.svg">
            Entrar com Facebook
          </button>
        </div>
      </form>

      <div class="login100-more bg-img">
        <h2>Agendamento Online</h2>
      </div>
    </div>
  </div>
</div>