/*================ NAVBAR ==================*/
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 5px 20px;
    height: 60px;
    z-index: 5;
    background-color: #ffffff;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.16);
}  
.navbar .navbar-left,
.navbar .navbar-right{
    display: flex;
    position: relative;
    align-items: center;
}
.navbar .logo{
   width: 85px;
   height: 50px;
   margin-left: 30px;
}
.navbar .logo img{
    width: 100%;
    height: 100%;
}
.navbar .notifications {
    position: relative;
    width: 30px;
    margin-right: 25px;
}
.navbar .icon-home{
    margin-right: 25px;
}
.navbar .notifications span{
    font-size: 13px;
    background-color: #e9724c;
    border-radius: 50%;
    color: #ffffff;
    position: absolute;
    right: 0;
    top: -4px;
    width: 20px;
    height: 19px;
    text-align: center;
}
.navbar .notifications img{
    width: 20px;
} 

#menu-toggle{
    border: none;
    background-color: transparent;
    padding: 0;
}
#menu-toggle:hover{
    background-color: transparent;
}
#menu-toggle:focus{
    box-shadow: none;
}
.profile-menu {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.profile-menu .username{
    font-size: 16px;
    color: #7d7a7a;
    margin-left: 7px;
}
.profile-menu .profile-img{
    width: 45px;
    height: 45px;
    padding: 0;
    border-radius: 30px;
    border: none;
    outline: none;
    overflow: hidden;
}
.profile-menu .profile-img img{
    width: 100%;
    height: 100%;
}
.profile-menu .button-drop{
    display: flex;
    align-items: center;
}
.down-arrow {
	border-color: #666666 transparent;
	border-style: solid;
    border-width: 5px 5px 0px 5px;
    margin-left: 12px;
	height: 0px;
    width: 0px;
    display: block;
}
.profile-menu .dropdown-menu{
    width: 100%;
    padding: 0px;
    border: none;
    box-shadow: 0px 7px 20px -2px #e8d9d3;
    top: 51px !important;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    cursor: default;
}
.profile-menu .dropdown-menu .menuitem{
    padding: 20px;
} 
.profile-menu .dropdown-menu .menuitem p{
    font-size: 20px;
    font-weight: 500;
    color: #2b2b2b;
}
.profile-menu .dropdown-menu .menuitem + .menuitem{
    background: #f9f3ef;
    padding-top: 25px;
}
.profile-menu .dropdown-menu .menuitem a{
    color: #575757;
    text-decoration: none;
    display: block;
    width: 100%;
}

.profile-menu .dropdown-menu .menuitem a span{
    font-size: 14px;
    margin-left: 10px;
}
.profile-menu .dropdown-menu .menuitem a:hover span{
    color: #e9724c;
}

/*================ SIDEBAR MENU ==================*/
#wrapper {
    overflow-x: hidden;
 }
#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  margin-left: 0;
  position: fixed;
  z-index: 1;
  background-color: #ffffff;
  width: 275px;
  box-shadow: 0px 5px 20px 0px #e8d9d3;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .list-group {
  width: 100%;
  margin-top: 80px;
}
#sidebar-wrapper .list-group .list-group-item{
  border:none;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  width: 85%;
  margin: 0 auto 5px;
  border-radius: 30px;
  padding: 10px 20px;
}
#sidebar-wrapper .list-group .list-group-item:hover,
#sidebar-wrapper .list-group .list-group-item.active{
    background-color: #f9f3ef;
    color: #e9724c;
}
.list-group-item.active:before,
.list-group-item:hover:before{
    content: "";
    display: block;
    width: 5px;
    height: 43px;
    color: #000;
    background: #e9724c;
    position: absolute;
    left: -21px;
}
#sidebar-wrapper .list-group .list-group-item i{
  margin-right: 10px;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}
#wrapper.toggled #sidebar-wrapper {
  margin-left: -12rem;
}



/*================ MODAL ALL ==================*/
.modal-all .modal-dialog{
    margin: 0;
}
.modal-all .modal-dialog .modal-content{
    border: none;
    border-radius: 0;
}
.modal-all .header-modal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 20px 40px;
}
.modal-all .header-modal h4{
    font-size: 24px;
    color: #2b2b2b;
    margin: 0;
}
.modal-all .links a{
    display: flex;
    align-items: center;
    padding: 10px 17px;
}
.modal-all .links a{
    color: #575757;
    font-size: 14px;
    margin-left: 5px;
    text-decoration: none;
}
.modal-all .links a:first-child {
    background-color: #f9f3ef;
    border-radius: 30px;
    width: 85%;
    margin-bottom: 35px;
}
.modal-all .links a img{
    margin-right: 10px;
}
.modal-all .links a span{
    position: relative;
    top: 1px;
}
.modal-all .box-notification{
    text-align: center;
    background: #2b2b2b;
    border-radius: 5px;
    padding: 20px 0 10px;
    margin-bottom: 5px;
}
.modal-all .box-notification img{
    margin-bottom: 15px;
}
.modal-all .box-notification p{
    color: #ffffff;
    font-size: 16px;
}

/*================ CONTENT PERFIL ==================*/
#page-content-wrapper {
    min-width: 0;
    width: 100%;
}
.content-perfil{
    padding: 50px 25px 10px 300px;
    background-color: #f5eae3;
    min-height: 100vh;
    position: relative;
    -webkit-transition: padding .25s ease-out;
    -moz-transition: padding .25s ease-out;
    -o-transition: padding .25s ease-out;
    transition: padding .25s ease-out;
}
.content-perfil-full-width{
    padding-left: 110px;
}
.content-perfil .username{
    font-size: 18px;
    color: #9e9e9e;
    margin-top: 25px;
}
.content-perfil .username span{
    color: #484b4a;
}
.content-perfil h4{
    font-size: 24px;
    color: #484b4a;
    margin-top: 15px;
    margin-bottom: 12px;
    font-weight: 400;
}
.card-controle{
    background-color: #ffffff;
    border-radius: 5px;
    padding: 18px 15px;
    box-shadow: 0px 2px 15px 0px #e8d9d3;
    margin-bottom: 30px;
}
.card-controle .card-header-c{
    display: flex;
    align-items: center;
}
.card-header-c .box-img{
    width: 45px;
    height: 45px;
    background-color: #f9f3ef;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}
.card-header-c p{
    font-size: 18px;
    color: #2b2b2b;
    margin: 0;
}
.card-body-c{
    margin-top: 23px;
}
.card-body-c p:first-child{
    font-size: 25px;
    color: #e9724c;
    font-weight: 500;
    margin: 0;
    line-height: 25px;
}
.card-body-c p:last-child{
    font-size: 13px;
    color: #9e9e9e;
    margin: 0;
}
.card-agendamento{
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 2px 15px 0px #e8d9d3;
    margin-bottom: 15px;
    position: relative;
}
.card-agendamento.canceled{
    background-color: #d3d6d6;
}
.card-agendamento .box-left{
    background-color: #e9724c;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-agendamento .box-left img{
    width: 24px;
    margin-bottom: 5px;
}
.card-agendamento.canceled .box-left{
    background-color: #9e9e9e;
}

.card-agendamento .box-left h6{
    margin: 0;
    font-size: 16px;
    color: #ffffff;
}
.card-agendamento .box-left p{
    margin: 0;
    font-size: 13px;
    color: #ffffff;
}
.card-agendamento.canceled .box-left h6,
.card-agendamento.canceled .box-left p{
    color: #d3d6d6;
}
.card-agendamento .box-right{
    width: 75%;
    padding: 10px;
    position: relative;
}
.card-agendamento .box-right p:first-child{
    margin: 0;
    font-size: 16px;
    color: #575757;
    line-height: 18px;
    height: 60px;
}
.card-agendamento .box-right p + p{
    margin: 0;
    font-size: 15px;
    color: #e88f73;
}
.card-agendamento .box-right p:first-child,
.card-agendamento.canceled .box-right p + p{
    color: #9e9e9e;
}
.card-agendamento .box-right .gear{
    background-color: #d3d6d6;
    text-align: center;
    padding-top: 5px;
    width: 46px;
    height: 35px;
    position: absolute;
    right: 0;
    bottom: 0;
    border-bottom-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-agendamento.canceled .box-right .gear{
    background-color: #c52525;
}
.card-agendamento.empty {
    padding-top: 10px;
    padding-bottom: 10px;
}
.card-agendamento.empty .box-left{
    background: #ffffff;
}
.card-agendamento.empty .box-left img{
    width: 48px;
}

.card-agendamento.empty .box-right p{
    color: #00c8b8;
    line-height: 20px;
}

/*================ ICONES ==================*/
.settings{
    background: url("../../../assets/img/icons/settings.svg");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    display: block;
}
.card-agendamento.canceled .settings{
    background: url("../../../assets/img/icons/settings-white.svg");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    display: block;
}
.icon-sair{
    background: url("../../../assets/img/icons/icon-sair.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 4px;
}
.profile-menu .dropdown-menu .menuitem a:hover .icon-sair{
    background: url("../../../assets/img/icons/icon-sair-hover.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 4px;
}
.icon-internal-home{
    background: url("../../../assets/img/icons/home-interno-line.svg");
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    display: inline-block;
}
#sidebar-wrapper .list-group-item:hover .icon-internal-home,
#sidebar-wrapper .list-group .list-group-item.active .icon-internal-home{
    background: url("../../../assets/img/icons/home-interno-line-hover.svg");
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    display: inline-block;
}
.icon-internal-agenda{
    background: url("../../../assets/img/icons/agenda-interno-line.svg");
    background-repeat: no-repeat;
    width: 25px;
    height: 21px;
    display: inline-block;
}
#sidebar-wrapper .list-group-item:hover .icon-internal-agenda,
#sidebar-wrapper .list-group .list-group-item.active .icon-internal-agenda{
    background: url("../../../assets/img/icons/agenda-perfil.svg");
    background-repeat: no-repeat;
    width: 25px;
    height: 21px;
    display: inline-block;
}
.icon-internal-perfil{
    background: url("../../../assets/img/icons/edit-perfil.svg");
    background-repeat: no-repeat;
    width: 25px;
    height: 21px;
    display: inline-block;
}
#sidebar-wrapper .list-group-item:hover .icon-internal-perfil,
#sidebar-wrapper .list-group .list-group-item.active .icon-internal-perfil{
    background: url("../../../assets/img/icons/edit-perfil-hover.svg");
    background-repeat: no-repeat;
    width: 25px;
    height: 21px;
    display: inline-block;
}
.icon-internal-senha{
    background: url("../../../assets/img/icons/editar-senha.svg");
    background-repeat: no-repeat;
    width: 25px;
    height: 21px;
    display: inline-block;
}
#sidebar-wrapper .list-group-item:hover .icon-internal-senha,
#sidebar-wrapper .list-group .list-group-item.active .icon-internal-senha{
    background: url("../../../assets/img/icons/editar-senha-hover.svg");
    background-repeat: no-repeat;
    width: 25px;
    height: 21px;
    display: inline-block;
}
.icon-internal-indicar{
    background: url("../../../assets/img/icons/indicar.svg");
    background-repeat: no-repeat;
    width: 25px;
    height: 23px;
    display: inline-block;
}
#sidebar-wrapper .list-group-item:hover .icon-internal-indicar,
#sidebar-wrapper .list-group .list-group-item.active .icon-internal-indicar{
    background: url("../../../assets/img/icons/indicar-hover.svg");
    background-repeat: no-repeat;
    width: 25px;
    height: 23px;
    display: inline-block;
}

/* ============= MOBILE =================*/
@media (max-width: 575px) { 
    .navbar{
        padding: 5px 10px;
    }
    .navbar .logo{
        margin-left: 0;
    }
    .logo img{
        max-width: 100%;
    }
    #menu-toggle, #sidebar-wrapper,
    .profile-menu .username{
        display: none;
    }
    .content-perfil{
        padding-left: 15px;
        padding-right: 15px;
    }
}