<nav class="navbar">
  <button class="btn btn-light" id="menu-toggle" (click)="executarViaService()">
    <img src="assets/img/icons/menu.svg">
  </button>

  <div class="logo">
    <img src="assets/img/logo-example-2.png">
  </div>

  <div class="icon-home">
    <a class="link" routerLink="/index">
      <img src="assets/img/icons/ver-salao.svg">
    </a>
  </div>

  <div class="profile-menu">
    <div class="btn-group" dropdown>
      <div id="button-basic" dropdownToggle type="button" class="btn dropdown-toggle" aria-controls="dropdown-basic">
        <div class="img-user">
          <img src="assets/img/juliana.jpg">
        </div>
        <span class="caret"></span>
      </div>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
        <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
        </li>
      </ul>
    </div>
    <!--p>{{(usuario$ | async)?.nome}} {{(usuario$ | async)?.sobrenome}}</p-->
  </div>
</nav>
<div class="wrapper-menu" [ngClass]="expanded">
  menu
</div>
<div class="content-perfil">
  <p class="username" *ngIf="(usuario$ | async)">Bem-vindo(a) <span>{{(usuario$ | async)?.nome}}
      {{(usuario$ | async)?.sobrenome}}</span>
  </p>

  <h4>Controle</h4>

  <div class="card-controle">
    <div class="card-header-c">
      <div class="box-img">
        <img src="assets/img/icons/agenda-perfil.svg">
      </div>
      <p>Agendamentos</p>
    </div>
    <div class="card-body-c">
      <p>{{totalAgendamentoMes}}</p>
      <p>Mês atual</p>
    </div>

  </div>

  <h4>Agendamento em aberto</h4>

  <ng-container *ngFor="let a of agendamento$ | async">
    <div class="card-agendamento" *ngIf="(a.data | slice:3:5) >= mes">
      <div class="box-left">
        <h6>{{a.horario}}</h6>
        <p>{{a.data}}</p>
        {{a.numeroagendamento}}
      </div>

      <div class="box-right">
        <p>{{a.servico[0].nomeservico}}</p>
        <p>com Francisquinha</p>

        <a href="#" class="gear">
          <span class="settings"></span>
        </a>
      </div>
    </div>
  </ng-container>

  <div class="card-agendamento canceled">
    <div class="box-left">
      <h6>8:30h</h6>
      <p>12/06/20</p>
    </div>

    <div class="box-right">
      <p>Tratamento de unhas, pintura e brilho para unhas postiças...</p>
      <p>com Francisquinha</p>

      <a href="#" class="gear">
        <span class="settings"></span>
      </a>
    </div>
  </div>
</div>