.overlay{
    position: fixed;
    background-color: #000;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0.3;
}
.section-servicos h1{
    font-size: 40px;
    color: #2b2b2b;
    font-weight: 800;
    margin: 40px 0px 50px;
}
.section-servicos .box-servicos{
    min-height: 100vh;
}
.loading{
    top: 50vh;
}
.section-servicos .card-img{
    width: 100%;
    margin-bottom: 60px;
    position: relative;
}
.section-servicos .card-img .box-img{
    width: 100%;
    height: 250px;
    overflow: hidden;
    position: relative;
    border-radius: 7px;
}
.section-servicos .card-img .box-avaliation {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    background-color:#f5eae3;
    border-radius: 30px;
    width: 71px;
    height: 38px;
    right: 10px;
    top: 12px;
    z-index: 2;
}
.section-servicos .card-img .box-avaliation p{
    font-size: 16px;
    color: #2b2b2b;
    font-weight: 500;
    margin: 0;
}
.section-servicos .card-img a img{
    max-width: 100%;
    position: absolute;
    height: 100%;
    transition: 0.4s;
}
.section-servicos .card-img a img:hover{
    transform: scale(1.1);
}
.section-servicos .card-img a{
    text-decoration: none; 
    position: relative; 
}

.section-servicos .card-img a p{
    margin-top: 12px;
    color: #2b2b2b;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    height: 55px;
    width: 100%;
    transition: all 0.2s;
}
.section-servicos .card-img a:hover p,
.section-servicos .card-img a p:hover{
    color: #e88f73;
    text-decoration: underline;
    transition: all 0.2s;
}
.section-servicos .card-img .box-btn-price{
    display: flex;
    align-items: center;
}
.section-servicos .card-img .box-btn-price a{
    background-color: #e9724c;
    width: 50%;
    height: 50px;
    padding: 13px 0 0;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    margin-right: 15px;
    margin-top: 0;
    transition: background-color 0.3s;
}
.section-servicos .card-img .box-btn-price a:hover{
    background-color: #e88f73;
    text-decoration: none;
    transition: background-color 0.3s;
}
.section-servicos .card-img .box-btn-price p{
    margin-top: 11px;
    font-size: 30px;
    color: #2b2b2b;
    font-weight: 600;
    height: 39px;
}
.section-servicos .card-img .box-btn-price p.text-small{
    font-size: 20px;
}
.mobile-description{
    display: none;
}



@media (max-width: 575px) { 
/*================= INDEX =================*/
    .overlay{
        z-index: 10;
    }
    .space{
        width: 25%;
    }
    .mobile-description{
        display: block;
    }
    .default-description{
        display: none;
    }

    h1{
        font-size: 24px !important;
        margin: 20px 0px 25px !important;
    }
    .section-servicos .box-servicos{
        margin-bottom: 15vh;
    }
    .section-servicos .card-img{
        margin-bottom: 30px;
    }
    .section-servicos .card-img .box-img{
        height: 120px;
    }
    .section-servicos .card-img a img{
        width: 100%;
    }
    .section-servicos .card-img .box-avaliation{
        width: 52px;
        height: 25px;
    }
    .section-servicos .card-img .box-avaliation img{
        width: 12px;
        height: 11.5px;
    }
    .section-servicos .card-img .box-avaliation p{
        font-size: 13px;
    }
    .col-6:nth-child(odd) {
        padding-right: 5px;
    }
    .col-6:nth-child(even) {
        padding-left: 5px;
    }
    .section-servicos .card-img a p{
        font-size: 16px;
        margin-bottom: 0;
        margin-top: 5px;
    }
    .section-servicos .card-img .box-btn-price{
        flex-direction: column-reverse;
        align-items: flex-start;
        margin-top: -15px;
    }
    .section-servicos .card-img .box-btn-price h3{
        font-size: 24px;
    }
    .section-servicos .card-img .box-btn-price a{
        width: 100%;
        height: 40px;
        font-size: 16px;
        padding-top: 9px;
    }
 
}