.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    height: 60px;
}
#menu-toggle{
    border: none;
    background-color: transparent;
    padding: 0;
}
#menu-toggle:hover{
    background-color: transparent;
}
#menu-toggle:focus{
    box-shadow: none;
}
.profile-menu p{
    margin: 0;
    color: #20B2AA;
    font-weight: 500;
}