<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light navbar-servico-detalhe">
    <a class="navbar-brand" href="#"><img src="assets/img/logo-login.png"></a>
  </nav>

  <div class="content-detalhe">
    <div class="row">
      <div class="col-lg-7">
        <h2>Tratamento de unhas, pintura e brilho e unhas postiças</h2>
        <div class="detalhe-servico">

          <div class="imagens-mini">
            <div class="box-img">
              <img (click)="imgEvent($event)" src="{{imagesUrl.imagem1}}">
            </div>
            <div class="box-img">
              <img (click)="imgEvent($event)" src="{{imagesUrl.imagem2}}">
            </div>
            <div class="box-img">
              <img (click)="imgEvent($event)" src="{{imagesUrl.imagem3}}">
            </div>
            <div class="box-img">
              <img (click)="imgEvent($event)" src="{{imagesUrl.imagem4}}">
            </div>
          </div>
          <div class="imagem-g">
            <img src="{{image}}">
            <span>R$ 1.278,00</span>
          </div>
        </div>
      </div>

      <div class="col-lg-5">
        <div class="box-calendario-horario">
          <div class="form-group form-group-datepicker" [hidden]="selected">
            <h5>Selecione uma data</h5>

            <div class="box-data mt-3">
             
                <bs-datepicker-inline  [bsValue]="bsInlineValue" (bsValueChange)="onValueChange($event)" bsDatepicker
                  [minDate]="minDate" [bsConfig]="{showWeekNumbers: false}" #picker>
                </bs-datepicker-inline>
              

            </div>
          </div>

          <div *ngIf="selected" class="form-group form-group-datepicker">
            <h5>Selecione uma horário</h5>
            <div class="box-horario mt-3">
              <ul class="nav list-group-horarios mt-3">
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="08:00"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">08:00</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="08:30"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">08:30</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="09:00"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">09:00</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="09:30"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">09:30</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="10:00"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">10:00</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="10:30"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">10:30</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="11:00"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">11:00</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="11:30"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">11:30</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="12:00"
                      (change)="changeHorario($event)" #radio disabled>
                    <div class="card-horario disabled">12:00</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="12:30"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">12:30</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="13:00"
                      (change)="changeHorario($event)" #radio disabled>
                    <div class="card-horario disabled">13:00</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="13:30"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">13:30</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="14:00"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">14:00</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="14:30"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">14:30</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="15:00"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">15:00</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="15:30"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">15:30</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="16:00"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">16:00</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="16:30"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">16:30</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="17:00"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">17:00</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="17:30"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">17:30</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="18:00"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">18:00</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="18:30"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">18:30</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="19:00"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">19:00</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="19:30"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">19:30</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="20:00"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">20:00</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="20:30"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">20:30</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="21:00"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">21:00</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="21:30"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">21:30</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="22:00"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">22:00</div>
                  </label>
                </li>
                <li class="nav-item">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="22:30"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">22:30</div>
                  </label>
                </li>
              </ul>

            </div>
          </div>
          <div *ngIf="selected" class="buttons">
            <button (click)="backCalendar()">voltar</button>
            <button>Concluir agendamento</button>
          </div>
        </div>
      </div>

    </div><!-- /row -->
  </div><!-- /content-detalhe -->
</div><!-- /container -->
<app-footer></app-footer>