<div class="d-flex">
  <div *ngIf="mostrarSidebarMenu" id="wrapper" [ngClass]="classe">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading text-center">AGENDAMENTO</div>
      <div class="list-group list-group-flush">
        <a routerLink="/admin/lista-agendamentos" routerLinkActive="link-active"
          class="list-group-item list-group-item-action bg-light border-bottom d-flex">
          <i class="material-icons mr-2">home</i>
          <span>Home</span>
        </a>
        <a routerLink="/admin/cadastro-servico" routerLinkActive="link-active"
          class="list-group-item list-group-item-action bg-light border-bottom d-flex">
          <i class="material-icons mr-2">post_add</i>
          <span>Cadastrar Serviço</span>
        </a>
        <a routerLink="agendamento" routerLinkActive="link-active"
          class="list-group-item list-group-item-action bg-light d-flex">
          <i class="material-icons mr-2">today</i>
          <span>Agendar</span>
        </a>
        
        <a routerLink="#" (click)="logout()" routerLinkActive="link-active"
          class="list-group-item list-group-item-action bg-light border-bottom d-flex">
          <i class="material-icons mr-2">exit_to_app</i>
          <span>Sair</span>
        </a>
      </div>
      
    </div>
  </div>
  <!-- /#sidebar-wrapper -->
  <div class="flex-grow-1">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- /#wrapper -->