<div *ngIf="isDropdown" class="overlay" [@fadeInOut] (click)="closeOverlay()"></div>
<span class="loading" *ngIf="!(servicos$ | async)"></span>
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light">

    <a class="navbar-brand" routerLink="/index"><img src="assets/img/logo-login.png"></a>
    <button class="navbar-toggler" type="button" (click)="executarViaService()">
      <img src="assets/img/icons/menu.svg">
    </button>

    <div class="form-search">
      <button class="btn btn-open-search" (click)="openModal()">
        <img src="assets/img/icons/lupa.svg">
      </button>

      <div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
        aria-labelledby="dialog-sizes-name1">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-body">
              <div class="input-group">
                <img src="assets/img/icons/lupa-search.svg" class="img-lupa">

                <input #busca type="text" class="form-control input-search"
                  placeholder="Nome do serviço que você precisa" (keyup.enter)="searchServicos($event)"
                  (blur)="searchServicos($event)">

                <div class="input-group-append">
                  <button class="btn-search" type="button">buscar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown" dropdown (isOpenChange)="onOpenChange($event)">
          <a class="nav-link dropdown-toggle" dropdownToggle href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="assets/img/icons/menu.svg">
          </a>
          <div class="dropdown-menu dropdown-x" *dropdownMenu aria-labelledby="navbarDropdown">

            <div class="mega-menu">
              <ul>
                <li class="menu-item menu-1">
                  <a href="#">Unhas</a>
                  <div class="mega-submenu">
                    <ul class="nav flex-column">
                      <li class="nav-item">
                        <a class="nav-link" href="#">Mão</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Pé</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Mão e pé</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Francesinha</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Desenhos</a>
                      </li>

                    </ul>
                  </div>
                </li>
                <li class="menu-item menu-2">
                  <a href="#">Cabelos</a>
                  <div class="mega-submenu">
                    <ul class="nav flex-column">
                      <li class="nav-item">
                        <a class="nav-link" href="#">Cabelo-1</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Cabelo-2</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Cabelo-3</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="menu-item menu-3">
                  <a href="#">Barba</a>
                  <div class="mega-submenu">
                    <ul class="nav flex-column">
                      <li class="nav-item">
                        <a class="nav-link" href="#">Barba-1</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Barba-2</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Barba-3</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="menu-item menu-2">
                  <a href="#">Maquiagem</a>
                  <div class="mega-submenu">
                    <ul class="nav flex-column">
                      <li class="nav-item">
                        <a class="nav-link" href="#">Maquiagem-1</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Maquiagem-2</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Maquiagem-3</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="menu-item menu-2">
                  <a href="#">Cabelos</a>
                  <div class="mega-submenu">
                    <ul class="nav flex-column">
                      <li class="nav-item">
                        <a class="nav-link" href="#">Cabelo-1</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Cabelo-2</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Cabelo-3</a>
                      </li>
                    </ul>
                  </div>
                </li>

                <li class="menu-item menu-2">
                  <a href="#">Depilação</a>
                  <div class="mega-submenu">
                    <ul class="nav flex-column">
                      <li class="nav-item">
                        <a class="nav-link" href="#">Depilação-1</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Depilação-2</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Depilação-3</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="menu-item menu-2">
                  <a href="#">Penteados</a>
                  <div class="mega-submenu">
                    <ul class="nav flex-column">
                      <li class="nav-item">
                        <a class="nav-link" href="#">Penteados-1</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Penteados-2</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Penteados-3</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="menu-item menu-2">
                  <a href="#">Rosto</a>
                  <div class="mega-submenu">
                    <ul class="nav flex-column">
                      <li class="nav-item">
                        <a class="nav-link" href="#">Rosto-1</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Rosto-2</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Rosto-3</a>
                      </li>
                    </ul>
                  </div>
                </li>

              </ul>
            </div>

          </div>
        </li>

        <li class="nav-item dropdown" dropdown (isOpenChange)="onOpenChange($event)">
          <a class="nav-link dropdown-toggle" dropdownToggle href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Unhas
          </a>
          <div class="dropdown-menu dropdown-w" *dropdownMenu aria-labelledby="navbarDropdown">
            <p>Unhas</p>

            <ul class="nav nav-submenu flex-column">
              <li>
                <a class="dropdown-item" href="#">Mão</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Pé</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Mão e Pé</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Francesinha</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Desenhos</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Lavagem</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Pintura</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Base</a>
              </li>
            </ul>
          </div>
        </li>

        <li class="nav-item dropdown" dropdown (isOpenChange)="onOpenChange($event)">
          <a class="nav-link dropdown-toggle" dropdownToggle href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Cabelos
          </a>
          <div class="dropdown-menu dropdown-w" *dropdownMenu aria-labelledby="navbarDropdown">
            <p>Cabelos</p>

            <ul class="nav nav-submenu flex-column">
              <li>
                <a class="dropdown-item" href="#">Ombre hair</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Corte estilizado masculino</a>
              </li>
            </ul>
          </div>
        </li>

        <li class="nav-item dropdown" dropdown (isOpenChange)="onOpenChange($event)">
          <a class="nav-link dropdown-toggle" dropdownToggle href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Barba
          </a>
          <div class="dropdown-menu dropdown-w" *dropdownMenu aria-labelledby="navbarDropdown">
            <p>Barba</p>

            <ul class="nav nav-submenu flex-column">
              <li>
                <a class="dropdown-item" href="#">Item 1</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Item 2</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Item 3</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Item 4</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Item 5</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Item 6</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Item 7</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Item 8</a>
              </li>
            </ul>
          </div>
        </li>

        <li class="nav-item dropdown" dropdown (isOpenChange)="onOpenChange($event)">
          <a class="nav-link dropdown-toggle" dropdownToggle href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Maquiagem
          </a>
          <div class="dropdown-menu dropdown-w" *dropdownMenu aria-labelledby="navbarDropdown">
            <p>Maquiagem</p>

            <ul class="nav nav-submenu flex-column">
              <li>
                <a class="dropdown-item" href="#">Item 1</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Item 2</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Item 3</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Item 4</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Item 5</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Item 6</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Item 7</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Item 8</a>
              </li>
            </ul>
          </div>
        </li>

        <li class="nav-item dropdown" dropdown (isOpenChange)="onOpenChange($event)">
          <a class="nav-link dropdown-toggle" dropdownToggle href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Depilação
          </a>
          <div class="dropdown-menu dropdown-w" *dropdownMenu aria-labelledby="navbarDropdown">
            <p>Depilação</p>

            <ul class="nav nav-submenu flex-column">
              <li>
                <a class="dropdown-item" href="#">Item 1</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Item 2</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Item 3</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Item 4</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Item 5</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Item 6</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Item 7</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Item 8</a>
              </li>
            </ul>
          </div>
        </li>

        <li class="nav-item dropdown" dropdown (isOpenChange)="onOpenChange($event)">
          <a class="nav-link dropdown-toggle" dropdownToggle href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Penteados
          </a>
          <div class="dropdown-menu dropdown-w" *dropdownMenu aria-labelledby="navbarDropdown">
            <p>Penteados</p>

            <ul class="nav nav-submenu flex-column">
              <li>
                <a class="dropdown-item" href="#">Item 1</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Item 2</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Item 3</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Item 4</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Item 5</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Item 6</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Item 7</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Item 8</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>

      <div class="dropdown-user my-2">
        <div class="btn-group" dropdown (isOpenChange)="onOpenChange($event)">
          <div id="user" dropdownToggle type="button" class="dropdown-toggle" aria-controls="dropdown-animated">
            <img src="assets/img/icons/user.svg">
            
            <div *ngIf="(usuario$ | async)"  class="logged">
              
              <p>Bem-vindo (a)</p>
              <p> 
                {{ (usuario$ | async)?.nome }} 
                {{ ((usuario$ | async)?.sobrenome.length > 6) ? 
                    ((usuario$ | async)?.sobrenome | slice:0:6) + '...' : 
                    (usuario$ | async)?.sobrenome }} 
              </p>
            </div>
            
            <div *ngIf="!(usuario$ | async)" class="no-logged">
              <p>Bem-vindo (a)</p>
              <p> 
                Visitante
              </p>
            </div>
          </div>
          <div class="dropdown-menu dropdown-y" [ngClass]="{'logged': (usuario$ | async)}"
              *dropdownMenu aria-labelledby="user" ngClass>
            <div class="header-user">
              <img src="assets/img/icons/user-dropdown.svg">
              <p>Conta</p>
            </div>
            
            <ul *ngIf="!(usuario$ | async)" 
                class="nav nav-submenu flex-column user-no-logged">
              <li>
                <a class="dropdown-item" routerLink="/login">Entrar</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/registro">Cadastro</a>
              </li>
            </ul>
           
            <ul *ngIf="(usuario$ | async); else loading" class="nav nav-submenu flex-column user-logged">
              <li>
                <a class="dropdown-item" routerLink="/agendamento">Agendamentos</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="#" (click)="logout()">
                  <span>Sair</span>
                </a>
              </li>
            </ul>

          </div>
        </div>
      </div>

    </div>
    <div class="header-fixed-mobile" [ngClass]="(scrollPosition > 100) ? 'fixed-top' : ''">
      <!-- INPUT SEARCH MOBILE -->
      <div class="input-group input-group-mobile">
        <img src="assets/img/icons/lupa-mobile.svg">
        <input #busca type="text" class="form-control input-search" placeholder="Nome do serviço que você precisa"
          (click)="onOpenChange($event)" (keyup.enter)="searchServicos($event)" (blur)="busca.value = ''">
      </div>
      <!-- /FIM INPUT SEARCH MOBILE -->

      <!-- INICIO MENU MOBILE -->
      <div class="menu-mobile">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a routerLink="/index" routerLinkActive="active" class="nav-link">
              Todos
            </a>
          </li>

          <li class="nav-item">
            <a routerLink="/index" class="nav-link">
              Unhas
            </a>
          </li>

          <li class="nav-item">
            <a routerLink="/index" class="nav-link">
              Cabelos
            </a>
          </li>

          <li class="nav-item">
            <a routerLink="/index" class="nav-link">
              Barba
            </a>
          </li>

        </ul>

      </div>
      <!-- /FIM MENU MOBILE -->
    </div><!-- /header-fixed-mobile -->
  </nav>


  <div class="section-servicos">

    <div class="text-center">
      <h1>Serviços</h1>
    </div>

    <div class="box-servicos">
      <div class="row">

        <div class="col-6 col-lg-4" *ngFor="let s of servicos$ | async">

          <div class="card-img">
            <div class="box-avaliation">
              <img src="assets/img/icons/star.svg">
              <p>4,5</p>
            </div>
            <a routerLink="/index/{{s.id}}">
              <div class="box-img">
                <img src="{{s.imageUrl}}">
              </div>
              <p class="default-description">{{s.nomeservico}}</p>
              <p class="mobile-description">
                {{(s.nomeservico.length > 36) ? (s.nomeservico | slice:0:36) + '...' : (s.nomeservico)}} </p>
            </a>
            <div class="box-btn-price">
              <a routerLink="/index/{{s.id}}">Agendar</a>
              <h3 [hidden]="s.valorservico == 0">
                {{s.valorservico != 0 ? (s.valorservico | currency:'BRL':true) : 'Sob Consulta'}}</h3>
              <h5 class="mt-2" *ngIf="s.valorservico == 0 ">
                {{s.valorservico != 0 ? (s.valorservico | currency:'BRL':true) : 'Sob Consulta'}}</h5>
            </div>
          </div>

        </div><!-- /col-lg-4 -->

      </div><!-- /row -->

    </div><!-- /box-servicos -->
  </div><!-- /section-servicos -->


</div><!-- /container-->

<div class="box-btns-mobile">
  <a routerLink="/index" routerLinkActive="active">
    <span>Home</span>
  </a>

  <a href="#">
    <img src="assets/img/icons/sacola-mobile.svg">
    <span>Sacola</span>
  </a>

  <a href="#">
    <img src="assets/img/icons/agenda.svg">
    <span>Agenda</span>
  </a>

  <a href="#">
    <img src="assets/img/icons/perfil-mobile.svg">
    <span>Perfil</span>
  </a>
</div>

<app-footer></app-footer>