<div class="container">
  <div class="section-servicos">

    <div class="text-center">
      <h1>Serviços</h1>
    </div>

    <div class="box-servicos">

      <div class="row">

        <div class="col col-lg-4">

          <div class="card-img">
            <div class="box-avaliation">
              <img src="assets/img/icons/star.svg">
              <p>4,5</p>
            </div>
            <a href="">
              <img src="assets/img/img-servicos/imagem-1.jpg">
              <p>Tratamento de unhas, pintura e brilho e unhas postiças</p>
            </a>
            <div class="box-btn-price">
              <a href="">Reservar</a>
              <h3>R$ 27,00</h3>
            </div>
          </div>

        </div><!-- /col-lg-4 -->

        <div class="col col-lg-4">

          <div class="card-img">
            
            <a href="">
              <img src="assets/img/img-servicos/imagem-2.jpg">
              <p>Massagem feminina completa</p>
            </a>
            <div class="box-btn-price">
              <a href="">Reservar</a>
              <h3>R$ 86,50</h3>
            </div>
          </div>

        </div><!-- /col-lg-4 -->

        <div class="col col-lg-4">
          
          <div class="card-img">
            <div class="box-avaliation">
              <img src="assets/img/icons/star.svg">
              <p>4,5</p>
            </div>
            <a href="">
              <img src="assets/img/img-servicos/imagem-3.jpg">
              <p>Corte estilizado masculino</p>
            </a>
            <div class="box-btn-price">
              <a href="">Reservar</a>
              <h3>R$ 32,00</h3>
            </div>
          </div>

        </div><!-- /col-lg-4 -->

        <div class="col col-lg-4">

          <div class="card-img">
            <div class="box-avaliation">
              <img src="assets/img/icons/star.svg">
              <p>4,5</p>
            </div>
            <a href="">
              <img src="assets/img/img-servicos/imagem-4.jpg">
              <p>Penteados especiais para festa</p>
            </a>
            <div class="box-btn-price">
              <a href="">Reservar</a>
              <h3>R$ 70,00</h3>
            </div>
          </div>

        </div><!-- /col-lg-4 -->

        <div class="col col-lg-4">

          <div class="card-img">
            <a href="">
              <img src="assets/img/img-servicos/imagem-5.jpg">
              <p>Limpeza de pele</p>
            </a>
            <div class="box-btn-price">
              <a href="">Reservar</a>
              <h3>R$ 42,00</h3>
            </div>
          </div>

        </div><!-- /col-lg-4 -->

        <div class="col col-lg-4">
          
          <div class="card-img">
            <div class="box-avaliation">
              <img src="assets/img/icons/star.svg">
              <p>4,5</p>
            </div>
            <a href="">
              <img src="assets/img/img-servicos/imagem-6.jpg">
              <p>Depilação feminina</p>
            </a>
            <div class="box-btn-price">
              <a href="">Reservar</a>
              <h3>R$ 75,00</h3>
            </div>
          </div>

        </div><!-- /col-lg-4 -->

        <div class="col col-lg-4">
          
          <div class="card-img">
            <div class="box-avaliation">
              <img src="assets/img/icons/star.svg">
              <p>4,5</p>
            </div>
            <a href="">
              <img src="assets/img/img-servicos/imagem-7.jpg">
              <p>Corte infantil</p>
            </a>
            <div class="box-btn-price">
              <a href="">Reservar</a>
              <h3>R$ 20,00</h3>
            </div>
          </div>

        </div><!-- /col-lg-4 -->

        <div class="col col-lg-4">

          <div class="card-img">
            <a href="">
              <img src="assets/img/img-servicos/imagem-8.jpg">
              <p>Ombre hair</p>
            </a>
            <div class="box-btn-price">
              <a href="">Reservar</a>
              <h3>R$ 94,00</h3>
            </div>
          </div>

        </div><!-- /col-lg-4 -->

        <div class="col col-lg-4">
          
          <div class="card-img">
            <div class="box-avaliation">
              <img src="assets/img/icons/star.svg">
              <p>4,5</p>
            </div>
            <a href="">
              <img src="assets/img/img-servicos/imagem-9.jpg">
              <p>Pedicure simples</p>
            </a>
            <div class="box-btn-price">
              <a href="">Reservar</a>
              <h3>R$ 22,00</h3>
            </div>
          </div>

        </div><!-- /col-lg-4 -->

      </div><!-- /row -->

    </div><!-- /box-servicos -->
  </div><!-- /section-servicos -->
</div><!-- /container-->

<app-footer></app-footer>