<div *ngIf="isDropdown" class="overlay" [@fadeInOut] (click)="closeOverlay()"></div>
<span class="loading" *ngIf="!(servicos$ | async)"></span>
<div class="container" lazy-load-images>
  <app-header (isDropdownToEmit)="getMessage($event)"></app-header>


  <div class="section-servicos">
    
    <div class="text-center">
      <h1>Serviços</h1>
    </div>

    <div class="box-servicos">
      <div class="row">

        <div class="col-6 col-lg-4" *ngFor="let s of servicos$ | async" >

          <div class="card-img">
            <div class="box-avaliation">
              <img data-src="assets/img/icons/star.svg" alt="estrela">
              <p>4,5</p>
            </div>
            <a routerLink="/index/{{s.id}}">
              <div class="box-img">
                <img [attr.data-src]="s.imageUrl"  alt="imagem-servico">
              </div>
              <p class="default-description">{{s.nomeservico}}</p>
              <p class="mobile-description">
                {{(s.nomeservico.length > 36) ? (s.nomeservico | slice:0:36) + '...' : (s.nomeservico)}} </p>
            </a>
            <div class="box-btn-price">
              <a routerLink="/index/{{s.id}}">Agendar</a>
              <p [ngClass]="{'text-small' : s.valorservico == 0 }">
                {{s.valorservico != 0 ? (s.valorservico | currency:'BRL':true) : 'Sob Consulta'}}
              </p>
            </div>
          </div>

        </div><!-- /col-lg-4 -->

        <div class="col-6 col-lg-4" *ngFor="let s of filtroServicos$ | async">

          <div class="card-img">
            <div class="box-avaliation">
              <img src="assets/img/icons/star.svg" alt="estrela">
              <p>4,5</p>
            </div>
            <a routerLink="/index/{{s.id}}">
              <div class="box-img">
                <img src="{{s.imageUrl}}" alt="imagem-servico">
              </div>
              <p class="default-description">{{s.nomeservico}}</p>
              <p class="mobile-description">
                {{(s.nomeservico.length > 36) ? (s.nomeservico | slice:0:36) + '...' : (s.nomeservico)}} </p>
            </a>
            <div class="box-btn-price">
              <a routerLink="/index/{{s.id}}">Agendar</a>
              <h3 [hidden]="s.valorservico == 0">
                {{s.valorservico != 0 ? (s.valorservico | currency:'BRL':true) : 'Sob Consulta'}}</h3>
              <h5 class="mt-2" *ngIf="s.valorservico == 0 ">
                {{s.valorservico != 0 ? (s.valorservico | currency:'BRL':true) : 'Sob Consulta'}}</h5>
            </div>
          </div>

        </div><!-- /col-lg-4 -->

      </div><!-- /row -->

    </div><!-- /box-servicos -->
  </div><!-- /section-servicos -->


</div><!-- /container-->

<div class="box-btns-mobile" [hidden]="disableFloating">
  <a class="home-m" routerLink="/index" routerLinkActive="active-m"></a>

  <a class="agenda-m" routerLink="/agendamento" routerLinkActive="active-m"></a>

  <a class="ajuda-m" routerLink="/agendamento" routerLinkActive="active-m"></a>

  <a class="perfil-m" routerLink="/perfil" routerLinkActive="active-m"></a>
</div>

<app-footer></app-footer>