/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
html, body{
  font-family: 'Roboto', sans-serif;
}
.loading {
  background-image: url('/assets/img/icons/spiner.svg');
  background-size: contain;
  width: 80px;
  height: 80px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  margin-left: auto;
  margin-right: auto;
  z-index: 9999;
}

#sidebar-wrapper {
    min-height: 100vh;
    height: 100%;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    width: 241px;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  #page-content-wrapper {
    width: 100%;
  }
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  .progress-bar{
    width: 0;
  }
  .list-group-flush a{
    font-weight: 600;
    color: #888;
  }
  .link-active, .list-group-flush a:hover, .list-group-flush a:focus{
    background: #20B2AA !important;
    color: #fff !important;
  }
  .bs-datepicker{
    background: transparent;
  }
  .theme-green .bs-datepicker-head{
    background-color: #fff !important; 
  }
  .theme-green .bs-datepicker-head button{
    color: #636464 !important;
    font-size: 20px;
    text-transform: uppercase;
  }
  .bs-datepicker-head button.previous span,
  .bs-datepicker-head button.next span{
    font-size: 45px;
    top: -10px;
    margin: 0;
    position: relative;
  }
  .bs-datepicker-head button.previous span:hover,
  .bs-datepicker-head button.next span:hover{
    color: #e88f73;
  }
  .bs-datepicker-head button.previous,
  .bs-datepicker-head button.next{
    background: transparent;
  }
  .bs-datepicker-body{
    border: none;
  }
  .bs-datepicker-body table{
    height: 325px;
  }
  .bs-datepicker-body table th{
    font-size: 20px;
    color: #636464;
    text-transform: uppercase;
    font-weight: 500;
  }
  .bs-datepicker-body table td span{
    font-size: 25px;
    font-weight: 600;
    color: #636464;
  }
  .bs-datepicker-body table td span.is-highlighted:not(.disabled):not(.selected){
    background-color: #e9724c;
    color: #fff;
    font-size: 25px;
    transition: all 0.5s;
  }
  .theme-green .bs-datepicker-body table td span.selected{
    background-color: #e9724c;
    font-size: 25px;
  }
  .bs-datepicker-body table.days span{
    width: 45px;
    height: 45px;
    padding-top: 7px;
  }
  .bs-datepicker{
    box-shadow: none;
  }
  .ng-tns-c2-2, .bs-datepicker-container{
    min-width: 100% !important;
    width: 100% !important;
  }
  .tab-content{
    border:1px solid #dee2e6;
    border-top: none;
    padding:5px 20px;
  }
  .alert{
    font-size: 15px;
    font-weight: bold !important;
    width: 40%;
    margin:0 auto;
    text-align: center;
  }
 

  /* ======================= RESPONSIVO =======================*/
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }

  @media (min-width: 768px) {
    
  }
  