/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
html, body{
  font-family: 'Roboto', sans-serif;
}

#sidebar-wrapper {
    min-height: 100vh;
    height: 100%;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    width: 241px;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  #page-content-wrapper {
    width: 100%;
  }
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  .progress-bar{
    width: 0;
  }
  .list-group-flush a{
    font-weight: 600;
    color: #888;
  }
  .link-active, .list-group-flush a:hover, .list-group-flush a:focus{
    background: #20B2AA !important;
    color: #fff !important;
  }
  .theme-green .bs-datepicker-head,
  .theme-green .bs-datepicker-body table td span.selected { 
    background-color: #5bc0de !important; 
  }
  .theme-green .bs-datepicker-body table td.week span{
    color: #5bc0de !important;
  }
  .bs-datepicker{
    box-shadow: none;
  }
  .tab-content{
    border:1px solid #dee2e6;
    border-top: none;
    padding:5px 20px;
  }
  .alert{
    font-size: 15px;
    font-weight: bold !important;
    width: 40%;
    margin:0 auto;
    text-align: center;
  }
 

  /* ======================= RESPONSIVO =======================*/
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }

  @media (min-width: 768px) {
    
  }
  