.ng-tns-c3-0.ng-star-inserted,
.bs-datepicker-container{
  width: 100% !important;
}


.card-input-radio {
    display: none;
  }
  
  .card-input-radio:checked + .card-horario {
    background-color: #40E0D0;
    color: #000;
   }
  
  .card-horario {
    background-color: #eee;
    border: 3px solid transparent;
    border-radius: 4px;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    color: #999;
    text-align: center;
    margin: 0;
    padding: 2px 10px;
    transition: all 0.5s;
  }
  .card-horario:hover{
    cursor: pointer;
    background-color: #40E0D0;
    color: #000;
    transition: all 0.5s;
  }
  
  .table-horarios tr td{
   border: none !important;
    padding: 0 !important;

  }
  h5{
    color: #888;
  }
  .btn-agendar{
    background-color: #20B2AA;
    font-weight: 600;
    color: #fff;
    transition: all 0.5s;
  }
  .btn-agendar[disabled], .btn-agendar[disabled]:hover{
    background-color: #ccc;
  }
  .btn-agendar:hover{
    background-color: #008B8B;
    transition: all 0.5s;
  }
  .list-group-resumo{
    box-shadow: 0px 3px 8px 0px #ddd;
    border-radius: 5px;
    padding: 0px;
  }
  .list-group-resumo li{
    padding-left: 15px;
    padding-right: 15px;
  }
  .list-group-resumo li.total-item{
    background-color: #f8f8f8;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    justify-content: space-between;
    color: #555;
    font-size: 19px;
  }
  .list-group-resumo li ul.nav li strong i{
    top: 5px;
  }
  .list-group-resumo li, label{
    color: #888;
  }
  .list-group-resumo li h6 strong{
    color: #555;
  }
  .list-group-resumo li i{
    position: relative;
    top: -3px;
  }
  input:focus, select:focus{
    box-shadow: none;
    border:1px solid #40E0D0;
  }
  .material-icons{
    color: #20B2AA;
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #888;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #888;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #999;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #888;
  }
  select, input{
    color: #888 !important;
  }
  .content-servicos {
    width: 100%;
  }
  .content-servicos .card {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    cursor: pointer;
  }
  .content-servicos .card .card-body{
    padding: 10px;
  }
  .content-servicos .card .card-body p{
    margin-bottom: 0;
    font-weight: bold;
    color: #555;
  }
  .content-servicos .card:hover {
    transform: scale(0.98);
    transition: all 0.5s;
  }
 
  .content-servicos .card .card-img-top{
    max-height: 135px;
    height: 135px;
  }
  
  /*Checkboxes styles*/

  .content-servicos .item-checked{
    background-color: #40E0D0;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    opacity: 0;
    right: 10px;
    bottom: 7px;
  }
input[type="checkbox"] { display: none; }



input[type="checkbox"] + .item-checked label:last-child { margin-bottom: 0; }

input[type="checkbox"] + .item-checked label:before {
  content: '';
  display: block;
  width: 12px;
  height: 20px;
  border: 4px solid #fff;
  position: absolute;
  opacity: 0;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
  bottom: 8px;
  right: 8px;
  border-radius: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
input[type="checkbox"]:checked + .item-checked,
input[type="checkbox"]:checked + .item-checked label:before {
  opacity: 1;
}

  .content-servicos .card .card-text{
    width: 100%;
    text-align: center;
    margin-top: -34px;
    margin-bottom: 0;
    background: rgba(0,0,0,0.6);
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 5px 0;
  }
  
  
@media (max-width: 575px) { 
  .form-group-datepicker h5{
     padding-left: 0 !important;
     text-align: left;
   }
   .form-group-datepicker{
     text-align: center;
   }
   .block-times ul{
     justify-content: center;
   }
   .block-times .list-group-horizontal-xl{
    margin-right: 0 !important;
   }
   .block-times .list-group-horizontal-xl li{
    width: 100% !important;
   }
   .form-data-user{
     padding: 0;
   }
   .btn-agendar{
     margin-bottom: 30px;
     margin-top: 5px !important;
   }
}