<!-- Page Content -->
<app-nav></app-nav>
<div id="page-content-wrapper">
  <div class="container-fluid">
    <div class="col-lg-12">
      <div *ngIf="msg != false" class="alert alert-success mt-2" role="alert">
        Seu agendamento foi realizado com sucesso!
      </div>
    </div>
    <form #f="ngForm" [formGroup]="angendamentoForm">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="row">
            <div class="mt-3 col-xl-4 col-lg-5 col-md-6">
              <div class="form-group form-group-datepicker">
                <h5 class="mb-0 pl-3">Escolha uma data</h5>
                <hr>
                <bs-datepicker-inline [bsValue]="bsInlineValue" (bsValueChange)="onValueChange($event)" bsDatepicker
                  [minDate]="minDate" #picker>
                </bs-datepicker-inline>
              </div>
            </div>

            <div class="mt-3 col-xl-4 col-lg-7 col-md-6">
              <h5>Escolha um horário</h5>
              <hr>
              <ul class="nav mt-3">
                <li class="nav-item m-1">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="08:00"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">08:00</div>
                  </label>
                </li>
                <li class="nav-item m-1">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="08:30"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">08:30</div>
                  </label>
                </li>
                <li class="nav-item m-1">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="09:00"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">09:00</div>
                  </label>
                </li>
                <li class="nav-item m-1">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="09:30"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">09:30</div>
                  </label>
                </li>
                <li class="nav-item m-1">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="10:00"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">10:00</div>
                  </label>
                </li>
                <li class="nav-item m-1">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="10:30"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">10:30</div>
                  </label>
                </li>
                <li class="nav-item m-1">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="11:00"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">11:00</div>
                  </label>
                </li>
                <li class="nav-item m-1">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="11:30"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">11:30</div>
                  </label>
                </li>
                <li class="nav-item m-1">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="12:00"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">12:00</div>
                  </label>
                </li>
                <li class="nav-item m-1">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="12:30"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">12:30</div>
                  </label>
                </li>
                <li class="nav-item m-1">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="13:00"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">13:00</div>
                  </label>
                </li>
                <li class="nav-item m-1">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="13:30"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">13:30</div>
                  </label>
                </li>
                <li class="nav-item m-1">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="14:00"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">14:00</div>
                  </label>
                </li>
                <li class="nav-item m-1">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="14:30"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">14:30</div>
                  </label>
                </li>
                <li class="nav-item m-1">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="15:00"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">15:00</div>
                  </label>
                </li>
                <li class="nav-item m-1">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="15:30"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">15:30</div>
                  </label>
                </li>
                <li class="nav-item m-1">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="16:00"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">16:00</div>
                  </label>
                </li>
                <li class="nav-item m-1">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="16:30"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">16:30</div>
                  </label>
                </li>
                <li class="nav-item m-1">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="17:00"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">17:00</div>
                  </label>
                </li>
                <li class="nav-item m-1">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="17:30"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">17:30</div>
                  </label>
                </li>
                <li class="nav-item m-1">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="18:00"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">18:00</div>
                  </label>
                </li>
                <li class="nav-item m-1">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="18:30"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">18:30</div>
                  </label>
                </li>
                <li class="nav-item m-1">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="19:00"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">19:00</div>
                  </label>
                </li>
                <li class="nav-item m-1">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="19:30"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">19:30</div>
                  </label>
                </li>
                <li class="nav-item m-1">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="20:00"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">20:00</div>
                  </label>
                </li>
                <li class="nav-item m-1">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="20:30"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">20:30</div>
                  </label>
                </li>
                <li class="nav-item m-1">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="21:00"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">21:00</div>
                  </label>
                </li>
                <li class="nav-item m-1">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="21:30"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">21:30</div>
                  </label>
                </li>
                <li class="nav-item m-1">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="22:00"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">22:00</div>
                  </label>
                </li>
                <li class="nav-item m-1">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="22:30"
                      (change)="changeHorario($event)" #radio>
                    <div class="card-horario">22:30</div>
                  </label>
                </li>
              </ul>
            </div>

            <div class="mt-3 col-xl-4 col-lg-7 col-md-6">
              <h5>Resumo do agendamento</h5>
        
              <ul class="nav list-group-resumo mt-3 mr-3 w-100">
                <li class=" w-100 pt-3 pb-2 d-flex">
                  <i class="material-icons mr-2">today</i>
                  <h6>Data escolhida:&nbsp; <strong>{{ data }}</strong>
                  </h6>
                </li>
                <li class=" w-100 pt-3 pb-2 d-flex">
                  <i class="material-icons mr-2">access_time</i>
                  <h6>Horário escolhido:&nbsp; <strong>{{horarioInput}}</strong></h6>
                </li>
                <li class=" w-100 pt-3 pb-2 d-flex">
                  <i class="material-icons mr-2">event_seat</i>
                  <h6>Serviço(s) escolhido:&nbsp;<br>
                    <ul class="nav flex-column">
                      <li class="mt-2" *ngFor="let s of servicoInput">
                        <strong>
                          <i class="material-icons mr-1">done</i> 
                          {{s.nomeservico + ' - '}} {{s.valorservico != 0 ? (s.valorservico | currency:'BRL':true) : 'Sob Consulta'}}
                        </strong>
                      </li>
                    </ul>
                    
                  </h6>
                </li>
                <li class="total-item w-100 pt-3 pb-3 d-flex">
                  <strong>Total:</strong> 
                  <strong>{{totalservico | currency:'BRL':true}}</strong>
                </li>
              </ul>
            </div>

          </div>
        </div>

        <div class="col-lg-12 form-data-user mt-3">
          <h5 class="ml-3">Escolher o serviço</h5>
          <hr>
          <div class="content-servicos">
            <div class="row">
              <div class="col-lg-3" *ngFor="let s of servicos$ | async; let id = index">
                <label class="w-100" for="{{id}}">
                  <div class="card">
                    <img class="card-img-top" src="{{s.imageUrl}}" alt="Card image cap">
                    <p class="card-text">{{s.nomeservico}} </p>
                    <div class="card-body">

                      <p>{{s.valorservico != 0 ? (s.valorservico | currency:'BRL':true) : 'Sob Consulta'}}</p>
                    </div>
                    <input id="{{id}}" type="checkbox" name="servico" class="" value="{{s.nomeservico}}"
                      (change)="changeServico($event.target.checked, s)" [checked]="checked(s)" #checkbox>
                    <div class="item-checked">
                      <label></label>
                    </div>
                  </div>
                </label>
              </div>
            </div>
          </div>

        </div>
        <div class="col-xl-12">
          <hr>
          <button type="submit" class="btn btn-agendar mt-4 mb-5 w-100" (click)="onSubmit()"
            [disabled]="!angendamentoForm.valid">Agendar</button>
        </div>
      </div>




    </form>
  </div><!-- /container-fluid -->
</div><!-- /#page-content-wrapper -->