<!-- Page Content -->
<app-nav></app-nav>
<div id="page-content-wrapper">
  <div class="container-fluid">
    <div class="col-lg-12">
      <div *ngIf="msg != false" class="alert alert-success mt-2" role="alert">
        Seu agendamento foi realizado com sucesso!
      </div>
    </div>
    <form #f="ngForm" [formGroup]="angendamentoForm">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="row">
            <div class="mt-3 col-xl-4 col-lg-5 col-md-6">
              <div class="form-group form-group-datepicker">
                <h5 class="mb-0 pl-3">Escolha uma data</h5>
                <bs-datepicker-inline [bsValue]="bsInlineValue" (bsValueChange)="onValueChange($event)" bsDatepicker
                  [minDate]="minDate">
                </bs-datepicker-inline>
              </div>
            </div>

            <div class="mt-3 col-xl-8 col-lg-7 col-md-6">
              <h5>Escolha um horário</h5>
              <ul class="nav mt-3">
                <li class="nav-item m-1">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="08:00"
                      (change)="changeInput($event)" #radio>
                    <div class="card-horario">08:00</div>
                  </label>
                </li>
                <li class="nav-item m-1">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="08:30"
                      (change)="changeInput($event)" #radio>
                    <div class="card-horario">08:30</div>
                  </label>
                </li>
                <li class="nav-item m-1">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="09:00"
                      (change)="changeInput($event)" #radio>
                    <div class="card-horario">09:00</div>
                  </label>
                </li>
                <li class="nav-item m-1">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="09:30"
                      (change)="changeInput($event)" #radio>
                    <div class="card-horario">09:30</div>
                  </label>
                </li>
                <li class="nav-item m-1">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="10:00"
                      (change)="changeInput($event)" #radio>
                    <div class="card-horario">10:00</div>
                  </label>
                </li>
                <li class="nav-item m-1">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="10:30"
                      (change)="changeInput($event)" #radio>
                    <div class="card-horario">10:30</div>
                  </label>
                </li>
                <li class="nav-item m-1">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="11:00"
                      (change)="changeInput($event)" #radio>
                    <div class="card-horario">11:00</div>
                  </label>
                </li>
                <li class="nav-item m-1">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="11:30"
                      (change)="changeInput($event)" #radio>
                    <div class="card-horario">11:30</div>
                  </label>
                </li>
                <li class="nav-item m-1">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="12:00"
                      (change)="changeInput($event)" #radio>
                    <div class="card-horario">12:00</div>
                  </label>
                </li>
                <li class="nav-item m-1">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="12:30"
                      (change)="changeInput($event)" #radio>
                    <div class="card-horario">12:30</div>
                  </label>
                </li>
                <li class="nav-item m-1">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="13:00"
                      (change)="changeInput($event)" #radio>
                    <div class="card-horario">13:00</div>
                  </label>
                </li>
                <li class="nav-item m-1">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="13:30"
                      (change)="changeInput($event)" #radio>
                    <div class="card-horario">13:30</div>
                  </label>
                </li>
                <li class="nav-item m-1">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="14:00"
                      (change)="changeInput($event)" #radio>
                    <div class="card-horario">14:00</div>
                  </label>
                </li>
                <li class="nav-item m-1">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="14:30"
                      (change)="changeInput($event)" #radio>
                    <div class="card-horario">14:30</div>
                  </label>
                </li>
                <li class="nav-item m-1">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="15:00"
                      (change)="changeInput($event)" #radio>
                    <div class="card-horario">15:00</div>
                  </label>
                </li>
                <li class="nav-item m-1">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="15:30"
                      (change)="changeInput($event)" #radio>
                    <div class="card-horario">15:30</div>
                  </label>
                </li>
                <li class="nav-item m-1">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="16:00"
                      (change)="changeInput($event)" #radio>
                    <div class="card-horario">16:00</div>
                  </label>
                </li>
                <li class="nav-item m-1">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="16:30"
                      (change)="changeInput($event)" #radio>
                    <div class="card-horario">16:30</div>
                  </label>
                </li>
                <li class="nav-item m-1">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="17:00"
                      (change)="changeInput($event)" #radio>
                    <div class="card-horario">17:00</div>
                  </label>
                </li>
                <li class="nav-item m-1">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="17:30"
                      (change)="changeInput($event)" #radio>
                    <div class="card-horario">17:30</div>
                  </label>
                </li>
                <li class="nav-item m-1">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="18:00"
                      (change)="changeInput($event)" #radio>
                    <div class="card-horario">18:00</div>
                  </label>
                </li>
                <li class="nav-item m-1">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="18:30"
                      (change)="changeInput($event)" #radio>
                    <div class="card-horario">18:30</div>
                  </label>
                </li>
                <li class="nav-item m-1">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="19:00"
                      (change)="changeInput($event)" #radio>
                    <div class="card-horario">19:00</div>
                  </label>
                </li>
                <li class="nav-item m-1">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="19:30"
                      (change)="changeInput($event)" #radio>
                    <div class="card-horario">19:30</div>
                  </label>
                </li>
                <li class="nav-item m-1">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="20:00"
                      (change)="changeInput($event)" #radio>
                    <div class="card-horario">20:00</div>
                  </label>
                </li>
                <li class="nav-item m-1">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="20:30"
                      (change)="changeInput($event)" #radio>
                    <div class="card-horario">20:30</div>
                  </label>
                </li>
                <li class="nav-item m-1">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="21:00"
                      (change)="changeInput($event)" #radio>
                    <div class="card-horario">21:00</div>
                  </label>
                </li>
                <li class="nav-item m-1">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="21:30"
                      (change)="changeInput($event)" #radio>
                    <div class="card-horario">21:30</div>
                  </label>
                </li>
                <li class="nav-item m-1">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="22:00"
                      (change)="changeInput($event)" #radio>
                    <div class="card-horario">22:00</div>
                  </label>
                </li>
                <li class="nav-item m-1">
                  <label>
                    <input type="radio" name="horario" class="card-input-radio" value="22:30"
                      (change)="changeInput($event)" #radio>
                    <div class="card-horario">22:30</div>
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-12 form-data-user mt-3">
          <h5 class="ml-3">Escolher o serviço</h5>

          <div class="content-servicos">
            <div class="row">
              <div class="col-lg-3" *ngFor="let s of servicos$ | async; let id = index">
                <label for="{{id}}">
                  <div class="card">
                    <img class="card-img-top" src="{{s.imageUrl}}" alt="Card image cap">
                    <p class="card-text">{{s.nomeservico}} </p>
                    <div class="card-body">

                      <p>{{s.valorservico != 0 ? (s.valorservico | currency:'BRL':true) : 'Sob Consulta'}}</p>
                    </div>
                    <input id="{{id}}" type="checkbox" name="servico" class="" value="" (change)="changeInput($event)"
                      #checkbox>
                    <div class="item-checked">
                      <label></label>
                    </div>
                  </div>
                </label>
              </div>
            </div>
          </div>

        </div>
        <button type="submit" class="btn btn-agendar mt-4 w-100" (click)="onSubmit()"
          [disabled]="!angendamentoForm.valid">Agendar</button>
      </div>
      <hr>

      <ul class="list-group list-group-horizontal-xl mt-2 pl-1 mr-3">
        <li class="list-group-item w-50 pt-3 pb-2 d-flex">
          <i class="material-icons mr-2">today</i>
          <h6>Data escolhida:&nbsp; <strong>{{ data }}</strong>
          </h6>
        </li>
        <li class="list-group-item w-50 pt-3 pb-2 d-flex">
          <i class="material-icons mr-2">access_time</i>
          <h6>Horário escolhido:&nbsp; <strong>{{horarioInput}}</strong></h6>
        </li>
      </ul>

    </form>
  </div><!-- /container-fluid -->
</div><!-- /#page-content-wrapper -->