<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">

      <form [formGroup]="cadastroForm" class="login100-form validate-form" (ngSubmit)="cadastroUsuario()">
        
        <span class="loading" *ngIf="loading"></span>

        <span class="login100-form-title p-b-43">
          Cadastro
        </span>

        <div class="wrap-input100 validate-input">
          <input class="input100" type="text" name="nome" formControlName="nome" placeholder="Nome">
          <i class="material-icons">perm_identity</i>
        </div>

        <div class="wrap-input100 validate-input">
          <input class="input100" type="text" name="sobrenome" formControlName="sobrenome" placeholder="Sobrenome">
          <i class="material-icons">perm_identity</i>
        </div>


        <div class="wrap-input100 validate-input">
          <input class="input100" type="email" name="email" formControlName="email" placeholder="E-mail">
          <i class="material-icons">mail_outline</i>
        </div>

        <div class="wrap-input100 validate-input">
          <input class="input100" type="text" name="telefone" formControlName="telefone" placeholder="Celular" mask="(00) 00000-0000">
          <i class="material-icons">stay_current_portrait</i>
        </div>


        <div class="wrap-input100 validate-input">
          <input class="input100" type="{{type}}" name="pass" formControlName="password" placeholder="Senha">
          <i class="material-icons">lock_outline</i>
          <i (click)="toggleShow()" class="material-icons" [ngClass]="(visibility == 'visibility') ? 'color-green' : ''">{{visibility}}</i>
        </div>

        <div class="flex-sb-m w-full">
          <div class="contact100-form-checkbox">
            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
            <label class="label-checkbox100" for="ckb1">
              Lembrar-me
            </label>
          </div>
          <div class="contact100-form-cadastro">
            <a routerLink="/login">
              Voltar para login
            </a>
          </div>
        </div>


        <div class="container-login100-form-btn">
          <button type="submit" class="login100-form-btn">
            Cadastrar
          </button>
        </div>
        <span class="msg-erro">{{msgErro}}</span>
      </form>

      <div class="login100-more bg-img">
        <h2>Agendamento Online</h2>
      </div>
    </div>
  </div>
</div>
