.card-agendamentos-hoje{
    border:1px solid #40E0D0;
    box-shadow: 1px 1px 2px rgba(64, 224, 208, 0.5);
    color: #20B2AA;
}
.list-card-hoje,
.list-card-mes,
.list-card-cat{
    box-shadow: 1px 2px 3px #ddd;
}
.list-card-hoje{
    color: #20B2AA;
    border:1px solid #40E0D0;
}
.title-agendamentos,
.list-card-mes,
.list-card-cat{
    color: #888;
}
.header-hoje{
    background: #20B2AA;
}
.header-hoje .title-agendamentos{
    color: #fff;
}

.card-agendamentos-hoje .card-body p:nth-child(1){
    font-weight: bold;
}
.card-agendamentos-mes .card-body p:nth-child(1){
    color: #666;
    font-weight: bold;
}
.card-agendamentos-hoje .card-body p:nth-child(2),
.card-agendamentos-mes .card-body p:nth-child(2){
    font-weight: 600;
}
.card-agendamentos-mes .card-body p:nth-child(2){
    color: #888;
}

.card-agendamentos-mes{
    border:1px solid #ddd;
    box-shadow: 1px 1px 2px #ddd;
    color: #888;
}
.list-group-item h1{
    font-size: 60pt;
}
.card-hoje, .card-mes{
    max-height: 385px;
}
.card-hoje .card-body,
.card-mes .card-body{
    overflow: auto;
}

.card-body::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
	border-radius: 10px;
	background-color: #f8f9fa;
}

.card-body::-webkit-scrollbar{
	width: 8px;
	background-color: #f8f9fa;
}

.card-body::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #f1f1f1;
}

@media (max-width: 575px) { 
    .list-card-hoje, .list-card-mes,
    .list-card-cat{
        width: 100% !important;
    }
}